<table class="menutd" valign="top" style="padding: 0px;width: 100%; height: 100%;margin-top:10px" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" style="width: 161px;height: 690px;">
      <ul style="display: block; width: 162px" class="main-menu">
        <li mt-show-model model-name="IPRPCountPartnerIncomeModel"><a id="partner_list" ng-click="select($event,'setting')" href="#/main/statistics_home/partner_list">拾贝宝邀约达人</a></li>
        <li mt-show-model model-name="IPRPBusinessAmountStatisticModel"><a id="businessStatistical_list" ng-click="select($event,'setting')" href="#/main/statistics_home/businessStatistical_list">业务金额统计</a></li>
      </ul>
    </td>
    <td ui-view class="ng-scope" valign="top" style="min-width: 1180px; min-height: 1000px;"></td>
  </tr>
</table>
<div class="sebe">
    <!-- IPRPBusinessAmountStatisticModel -->
    <p class="sebename">拾贝管理后台</p>
    <p class="sebeurl">www.ipsebe.com</p>
</div>