<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <h3>红冲发票管理</h3>
            <ul class="tab-base">
                <li mt-show-model model-name="IPRPRedInvoiceCheckListModel"><a href="JavaScript:void(0);" class="current"><span>审核列表</span></a></li>
                <li mt-show-model model-name="IPRPRedUnOpenInvoiceListModel"><a href="#/main/finance_home/red_unopen_list"><span>未开列表</span></a></li>
                <li mt-show-model model-name="IPRPRedOpenInvoiceListModel"><a href="#/main/finance_home/red_open_list"><span>已开列表</span></a></li>
            </ul>
        </div>
    </div>
    <form name="formSearch" id="formSearch">
        <table class="tb-type1 noborder search">
            <tbody class="tr-color">
                <tr>
                    <th><label>订单编号：</label></th>
                    <td><input type="text" value="" class="txt" ng-model="obj.order_sn"></td>
                    <th><label>申请时间：</label></th>
                    <td>
                        <input type="text" class="txt date hasDatepicker" placeholder="" name="query_start_date" id="query_start_date" datepicker-popup ng-model="query_start_date"
                               is-open="startOpened" ng-click="startOpened = true" max-date="query_end_date" style="cursor:pointer" readonly/>
                        <label for="query_end_date">~</label>
                        <input type="text" class="txt date hasDatepicker" placeholder="" name="query_end_date" id="query_end_date" datepicker-popup ng-model="query_end_date"
                               is-open="endOpened" ng-click="endOpened = true" min-date="query_start_date" style="cursor:pointer" readonly/>
                    </td>
                    <th><label>发票种类：</label></th>
                    <td>
                        <select ng-model="obj.open_type">
                            <option value="">请选择状态</option>
                            <option value="1">电子发票</option>
                            <option value="2">纸质发票</option>
                        </select>
                    </td>
                    <th><label>发票类型：</label></th>
                    <td>
                        <select ng-model="obj.type">
                            <option value="">请选择状态</option>
                            <option value="1">普通发票</option>
                            <option value="2">增值发票</option>
                        </select>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="btn-search" ng-click="search()">查询</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <table class="table tb-type2" id="prompt">
        <tbody class="tr-color">
            <tr class="space odd" >
                <th colspan="12"><div class="title">
                    <h5>操作提示</h5>
                    <span  ng-show="hint" class="arrow" ng-click="hints()"></span>
                    <span  ng-hide="hint" class="arrow up" ng-click="hints()"></span>
                </div></th>
            </tr>
            <tr class="odd" ng-show="hint">
                <td><ul>
                    <li>此列表是对红冲发票审核，审核成功后在未开列表进行开发票</li>
                    <li>你可以根据条件搜索，然后选择相应的操作</li>
                </ul></td>
            </tr>
        </tbody>
    </table>
    <form>
        <table class="table tb-type2">
            <thead>
                <tr class="thead">
                    <th>序号</th>
                    <th class="align-center">订单编号</th>
                    <th class="align-center">发票类型</th>
                    <th class="align-center">发票种类</th>
                    <th class="align-right">合计金额</th>
                    <th class="align-center">购方名称</th>
                    <th class="align-center">申请时间</th>
                    <th class="align-center">服务商</th>
                    <th class="align-center">状态</th>
                    <th class="align-center">操作</th>
                </tr>
            </thead>
            <tbody class="tr-color">
                <tr class="" ng-show="red_check_InvoiceList.length > 0" class="hover" ng-repeat="list in red_check_InvoiceList">
                    <td>
                        <span ng-bind="list.number"></span>
                    </td>
                    <td class="align-center" ng-bind="list.order_sn"></td>
                    <td class="align-center" ng-bind="list.open_type | InvoiceOpenTypeFilter"></td>
                    <td class="align-center" ng-bind="list.type | InvoiceTypeFilter"></td>
                    <td class="align-right" ng-bind="list.invoice_amount | number:2"></td>
                    <td class="align-center" ng-if= "list.type === 1" ng-bind="list.title"></td>
                    <td class="align-center" ng-if= "list.type === 2" ng-bind="list.company"></td>
                    <td class="align-center" ng-bind="list.update_time | date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <td class="align-center" ng-bind="list.sp_name"></td>
                    <td class="align-center" ng-bind="list.audit_state | InvoiceAuditStateFilter"></td>
                    <td class="align-center w120">
                        <a href="JavaScript:void(0);" mt-show-model model-name="IPRPRedInvoiceCheckModel"
                           style="cursor: pointer" ng-show="list.audit_state === 0" ng-click="check(list.invoice_id)">审核</a>
                        <a href="JavaScript:void(0);"
                           style="cursor: pointer" ng-hide="list.audit_state === 0" ng-click="detail(list.invoice_id)">查看</a>
                    </td>
                </tr>
                <tr ng-show="to_loading">
                    <td colspan="20" class="norecord">
                        <div class="warning-option"><i class="icon-warning-sign"></i><span>{{loading_text}}</span></div>
                    </td>
                </tr>
            </tbody>
            <tfoot ng-hide="to_loading">
                <tr colspan="15" class="tfoot">
                    <td colspan="19"><mt-pagination pagination-obj="pagination"></mt-pagination></td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
