<div class="page" style="min-width: 1340px">
	<div class="fixed-bar">
		<div class="item-title">
			<h3>质量抽检鉴定</h3>
			<ul class="tab-base">
				<li mt-show-model model-name="IPRPOrderListModel"><a href="JavaScript:void(0);" class="current"><span>订单列表</span></a></li>
				<!-- <li mt-show-model model-name="IPRPOrderListModel"><a href="JavaScript:void(0);"><span>导出</span></a></li> -->
			</ul>
		</div>
	</div>
	<form name="formSearch" id="formSearch">
		<table class="tb-type1 noborder search">
			<tbody class="tr-color">
				<tr>
					<th><label>订单编号：</label></th>
					<td><input type="text" class="txt" ng-model="obj.orderSn"></td>
					<th><label>联系人：</label></th>
					<td><input type="text" class="txt" ng-model="obj.contactName"></td>
					<th><label>联系电话：</label></th>
					<td><input type="text" class="txt" ng-model="obj.contactPhone"></td>
					<th><label>服务进度：</label></th>
					<td>
						<select ng-model="obj.orderState">
							<option value="">请选择</option>
							<option value="0">待受理</option>
							<option value="1">已受理</option>
							<option value="2">已完成</option>
							<option value="-1">已关闭</option>
						</select>
					</td>
					<td colspan="2">
						<a href="javascript:void(0);" class="btn-search" ng-click="search_order()" style="margin-left: 4px">查询</a>
						<a href="javascript:void(0);" class="btn-reset" ng-click="search_reset()" title="重置">重置</a>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<!-- <table class="table tb-type2" id="prompt">
		<tbody class="tr-color">
			<tr class="space odd" >
				<th colspan="12"><div class="title">
					<h5>操作提示</h5>
					<span  ng-show="hint" class="arrow" ng-click="hints()"></span>
					<span  ng-hide="hint" class="arrow up" ng-click="hints()"></span>
				</div></th>
			</tr>
			<tr class="odd" ng-show="hint">
				<td>
					<ul>
						<li></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table> -->
	<form>
		<table class="table tb-type2">
			<thead>
				<tr class="thead">
					<th class="align-center">序号</th>
					<th class="align-center">订单编号</th>
					<th style="width: 120px;" class="align-center">申请日期</th>
					<th class="align-center">联系人</th>
					<th class="align-center">联系电话</th>
					<th class="align-center">抽检平台</th>
					<th class="align-center">商品网址</th>
					<th class="align-center">进度</th>
					<th class="align-center">操作</th>
				</tr>
			</thead>
			<tbody class="tr-color">
				<tr class="" ng-show="OrderList.length > 0" class="hover" ng-repeat="list in OrderList">
					<td class="align-center">
						<span ng-bind="list.seqNo"></span>
					</td>
					<td class="align-center" ng-bind="list.orderSn"></td>
					<td class="align-center" ng-bind="list.createTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
					<td class="align-center" ng-bind="list.contactName"></td>
					<td class="align-center" ng-bind="list.contactPhone"></td>
					<td class="align-center" ng-bind="list.platform"></td>
					<td class="align-center"><div style="word-break: break-all;max-width: 400px;display: inline-block;" ng-bind="list.website"></div></td>
					<td class="align-center">
						{{list.orderState|protectOrderState}}
					</td>
					<td class="align-center w120">
						<a href="JavaScript:void(0);" ng-if="list.orderState===0" model-name="IPRPOrderDetailModel" style="cursor: pointer" ng-click="checkFn(list.orderSn)">受理</a>
						<a href="JavaScript:void(0);" ng-if="list.orderState===1" model-name="IPRPOrderDetailModel" style="cursor: pointer" ng-click="feedbackFn(list.orderSn)">结案反馈</a>
						<a href="JavaScript:void(0);" model-name="IPRPOrderDetailModel" style="cursor: pointer" ng-click="detail_orders(list.orderSn)">详情</a>
					</td>
				</tr>
				<tr ng-show="to_loading">
					<td colspan="14" class="norecord">
						<div class="warning-option"><i class="icon-warning-sign"></i><span>{{loading_text}}</span></div>
					</td>
				</tr>
			</tbody>
			<tfoot ng-hide="to_loading">
				<tr class="tfoot">
					<td colspan="14"><mt-pagination pagination-obj="pagination" form-page-one="true"></mt-pagination></td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
