<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <h3>编辑渠道商</h3>
            <ul class="tab-base">
                <li mt-show-model model-name="IPRPChannelListModel"><a href="#/main/channel_home/channel_list"><span>渠道商列表</span></a></li>
                <li mt-show-model model-name="IPRPUpdateChannelModel"><a href="JavaScript:void(0);" class="current"><span>编辑</span></a></li>
            </ul>
        </div>
    </div>
    <form name="EditChannelForm" role="form" class="form-horizontal" novalidate>
        <table class="table tb-type2">
            <tbody>
                <tr class="noborder">
                    <td colspan="2" class="required">
                        <label class="validation">编码:</label>
                        <span class="error" ng-show="EditChannelForm.code.$invalid && EditChannelForm.submitted">
                            <small ng-show="EditChannelForm.code.$error.required" class="error">
                                <label><i class="icon-exclamation-sign"></i>编码不可以为空</label>
                            </small>
                            <small class="error" ng-show="EditChannelForm.code.$error.pattern">
                                <label><i class="icon-exclamation-sign"></i>编码只能使用英文和数字</label>
                            </small>
                            <small class="error" ng-show="EditChannelForm.code.$error.maxlength">
                                <label><i class="icon-exclamation-sign"></i>编码名长度为10位</label>
                            </small>
                        </span>
                    </td>
                </tr>
                <tr class="noborder">
                    <td class="vatop rowform">
                        <span>{{channel_detail.code}}</span>
                    </td>
                    <td class="vatop tips"></td>
                </tr>
                <tr>
                    <td colspan="2" class="required">
                        <label class="validation">名称:</label>
                        <span class="error" ng-show="EditChannelForm.name.$invalid && EditChannelForm.submitted">
                            <small ng-show="EditChannelForm.name.$error.required" class="error">
                                <label><i class="icon-exclamation-sign"></i>名称不可以为空</label>
                            </small>
                            <small class="error" ng-show="EditChannelForm.name.$error.pattern">
                                <label><i class="icon-exclamation-sign"></i>名称只能使用中文、数字、字母和空格</label>
                            </small>
                            <small class="error" ng-show="EditChannelForm.name.$error.maxlength || EditChannelForm.name.$error.minlength">
                                <label><i class="icon-exclamation-sign"></i>名称长度为2~15位</label>
                            </small>
                        </span>
                    </td>
                </tr>
                <tr class="noborder">
                    <td class="vatop rowform">
                        <input type="text" value="" name="name" ng-minlength="2" ng-maxlength="15"
                               ng-pattern="/^[\u4e00-\u9fa5\sa-zA-Z0-9]+$/" class="txt" ng-model="channel_detail.name">
                    </td>
                    <td class="vatop tips"></td>
                </tr>
                <!--<tr>-->
                    <!--<td colspan="2" class="required">-->
                        <!--<label class="validation">分佣比例:</label>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr class="noborder">-->
                    <!--<td class="vatop rowform">-->
                        <!--<input type="text" style="width: 60px;" value="" name="ac_name" ng-model="channel_detail.commission_rate" class="txt">%-->
                    <!--</td>-->
                    <!--<td class="vatop tips"></td>-->
                <!--</tr>-->
                <tr>
                    <td colspan="2" class="required">线上退款: </td>
                </tr>
                <tr>
                    <td class="vatop rowform onoff">
                        <label for="attr_show1"   class="cb-enable" style="text-align:center;border:solid 1px #d3d3d3;border-right:none;border-top-left-radius:4px;
                            border-top-right-radius:0;
                            border-bottom-right-radius:0;
                            border-bottom-left-radius:4px;">
                            <span ng-click="turnOn($event)" ng-class="{'selected':channel_detail.online_pay === 1}">支持</span>
                        </label>
                        <label for="attr_show0" class="cb-enable" style="text-align:center;border:solid 1px #d3d3d3;border-left:none;border-top-left-radius:0;
                            border-top-right-radius:4px;
                            border-bottom-right-radius:4px;
                            border-bottom-left-radius:0;">
                            <span style="width:36px;" ng-click="turnOff($event)" ng-class="{'selected':channel_detail.online_pay === 0}">不支持</span>
                        </label>
                        <input style="display:none;" id="attr_show1" name="attr_show" checked="checked" value="1" type="radio">
                        <input style="display:none;" id="attr_show0" name="attr_show" value="0" type="radio">
                    </td>
                    <td class="vatop tips"></td>
                </tr>
                <tr>
                    <td colspan="2" class="required">
                        <label class="validation">渠道网址:</label>
                        <span class="error" ng-show="EditChannelForm.url.$invalid && EditChannelForm.submitted">
                            <small ng-show="EditChannelForm.url.$error.required" class="error">
                                <label><i class="icon-exclamation-sign"></i>URL不可以为空</label>
                            </small>
                            <small ng-show="EditChannelForm.url.$error.pattern" class="error">
                                <label><i class="icon-exclamation-sign"></i>渠道网址格式有误</label>
                            </small>
                        </span>
                    </td>
                </tr>
                <tr class="noborder">
                    <td class="vatop rowform">
                            <input type="text" value="" name="url" ng-model="channel_detail.url" class="txt"
                               ng-pattern="/^[a-zA-z]+://(\w+(-\w+)*)(\.(\w+(-\w+)*))*(\?\S*)?$/" required>
                    </td>
                    <td class="vatop tips"><span>渠道网址格式:https://www.baidu.com</span></td>
                </tr>
                <tr>
                    <td colspan="2" class="required">
                        <label class="validation">描述:</label>
                        <span class="error" ng-show="EditChannelForm.describe.$invalid && EditChannelForm.submitted">
                            <small ng-show="EditChannelForm.describe.$error.required" class="error">
                                <label><i class="icon-exclamation-sign"></i>描述不可以为空</label>
                            </small>
                            <small class="error" ng-show="EditChannelForm.describe.$error.pattern">
                                <label><i class="icon-exclamation-sign"></i>描述只能使用中文、数字、字母和特殊符号空格()_</label>
                            </small>
                            <small class="error" ng-show="EditChannelForm.describe.$error.maxlength || EditChannelForm.describe.$error.minlength">
                                <label><i class="icon-exclamation-sign"></i>描述长度为2~20位</label>
                            </small>
                        </span>
                    </td>
                </tr>
                <tr class="noborder">
                    <td class="vatop rowform">
                        <textarea style="width: 255px; height: 130px;" ng-minlength="2" ng-maxlength="20" name="describe"
                                  ng-pattern="/^[\u4e00-\u9fa5\sa-zA-Z0-9()_]+$/" ng-model="channel_detail.describe"></textarea>
                    </td>
                    <td class="vatop tips"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="tfoot">
                    <td colspan="15">
                        <a href="JavaScript:void(0);" ng-click="save_channel()" class="btn" id="submitBtn"><span>提交</span></a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>