<div>
    <h3 class="dialog_head" style="cursor: move;">
        <span class="dialog_title">
            <span class="dialog_title_icon">上传操作：</span>
        </span>
        <span class="dialog_close_button" ng-click="cancel()">X</span>
    </h3>
    <div style="color: red;padding-left: 20px;padding-top: 15px;" ng-if="error_tip">{{error_tip}}</div>
    <form role="form" style="padding:5px 15px 20px;">
        <table class="table tb-type2 nobdb">
            <tbody class="tr-color">
                <tr class="noborder">
                    <td colspan="4">
                        <label>判定结果：</label>
                        <label><input type="radio" name="confirm_type" value="1" ng-model="obj.judgeResult" ng-checked="obj.judgeResult == 1" ng-click="selectFn(1)">侵权 </label>
                        <label><input type="radio" name="confirm_type" value="2" ng-model="obj.judgeResult" ng-checked="obj.judgeResult == 2" ng-click="selectFn(2)">不侵权</label>
                    </td>
                </tr>
                <tr class="noborder">
                    <td colspan="4">
                        <label><span style="color: red"></span>上传报告：</label>
                        <label ng-if="!obj.reportUrl"><a class="upload-btn2" href="JavaScript:void(0);" type="file" ngf-select="uploadFile($file)" ngf-pattern="'.pdf,.PDF'" ngf-multiple="false" style="display: inline-block;margin-right: 0px;">上传</a>  注：PDF格式</label>
                        <label ng-if="obj.reportUrl" style="vertical-align: top;"> <span style="display: inline-block;max-width:350px;margin-bottom: 10px">{{fileData.fileName}}</span><br><a class="upload-btn2" href="JavaScript:void(0);" type="file" ngf-select="uploadFile($file)" ngf-pattern="'.pdf,.PDF'" ngf-multiple="false" style="display: inline-block;margin-right: 0px;">重新上传</a>  注：PDF格式</label>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="tfoot">
                    <td colspan="4" class="setup_tit">
                        <a class="fr" ng-click="confirm()" >提交</a>
                        <a class="fr setup_move" ng-click="cancel()">取消</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<style>
.modal-dialog{width: 470px;}
.instructions{color: #999;}
.nobdb,.nobdb td{border:0!important;}
.upload-btn2{padding: 5px 20px;background-color: #68a4fe;border-radius: 3px;color: #fff;cursor: pointer;}
.upload-btn2:hover{color: #fff;}
</style>