<div class="page" style="min-width: 1340px">
	<div class="fixed-bar">
		<div class="item-title">
			<h3>合伙人--需求单</h3>
			<ul class="tab-base">
				<li mt-show-model model-name="IPRPOrderListModel"><a href="JavaScript:void(0);" class="current"><span>需求单列表</span></a></li>
				<!-- <li mt-show-model model-name="IPRPOrderListModel"><a href="JavaScript:void(0);"><span>导出</span></a></li> -->
			</ul>
		</div>
	</div>
	<form name="formSearch" id="formSearch">
		<table class="tb-type1 noborder search">
			<tbody class="tr-color">
				<tr>
					<th><label>需求单号</label></th>
					<td><input type="text" class="txt" ng-model="obj.requirementSn"></td>
					<th><label>合伙人昵称</label></th>
					<td><input type="text" class="txt" ng-model="obj.nickname"></td>
					<th><label>客户姓名</label></th>
					<td><input type="text" class="txt" ng-model="obj.name"></td>
					<th><label>客户手机</label></th>
					<td><input type="text" class="txt" ng-model="obj.phone"></td>
					<th><label>需求状态</label></th>
					<td>
						<select ng-model="obj.status">
							<option value="">请选择状态</option>
							<option value="0">待处理</option>
							<option value="1">处理中</option>
							<option value="2">已完成</option>
							<option value="-1">已关闭</option>
						</select>
					</td>
					<th><label>关联订单</label></th>
					<td><input type="text" class="txt" ng-model="obj.orderSn"></td>
				</tr>
				<tr>
					<th><label>订单状态：</label></th>
					<td>
						<select ng-model="obj.orderState">
							<option value="">请选择状态</option>
							<option value="0">待付款</option>
							<option value="1">已付款</option>
							<option value="-1">已关闭</option>
						</select>
					</td>
					<th><label>需求时间：</label></th>
					<td>
						<div class="time_wrap">
							<input type="text" class="txt date hasDatepicker" datepicker-popup placeholder="" name="startCreateTime" id="startCreateTime" ng-model="startCreateTime"
									max-date="endCreateTime" style="cursor:pointer" readonly/>
							<label for="endCreateTime">~</label>
							<input type="text" class="txt date hasDatepicker" datepicker-popup placeholder="" name="endCreateTime" id="endCreateTime"  ng-model="endCreateTime" min-date="startCreateTime" style="cursor:pointer" readonly/>
						</div>
					</td>
					<td colspan="2">
						<a href="javascript:void(0);" class="btn-search" ng-click="search_order()" style="margin-left: 4px">查询</a>
						<a href="javascript:void(0);" class="btn-reset" ng-click="search_reset()" style="margin-left: 4px">重置</a>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<form>
		<table class="table tb-type2">
			<thead>
				<tr class="thead">
					<th class="align-center">需求单号</th>
					<th class="align-center">合伙人昵称</th>
					<th style="width: 120px;" class="align-center">客户姓名</th>
					<th class="align-right">客户手机</th>
					<th class="align-center">需求状态</th>
					<th class="align-center">关联订单</th>
					<th class="align-center">订单状态</th>
					<th class="align-center">需求时间</th>
					<th class="align-center">操作</th>
				</tr>
			</thead>
			<tbody class="tr-color">
				<tr class="" ng-show="OrderList.length > 0" class="hover" ng-repeat="list in OrderList">
					<td class="align-center" ng-bind="list.requirementSn"></td>
					<td class="align-center" ng-bind="list.nickname"></td>
					<td class="align-center" ng-bind="list.name"></td>
					<td class="align-right" ng-bind="list.phone"></td>
					<td class="align-center" ng-bind="list.status | demandStatusFilter"></td>
					<td class="align-center" ng-bind="list.orderSn"></td>
					<td class="align-center" ng-bind="list.orderState | deOrderStatusFilter"></td>
					<td class="align-center" ng-bind="list.createTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
					<td class="align-center w120">
						<a href="JavaScript:void(0);" model-name="IPRPOrderDetailModel" style="cursor: pointer" ng-click="detail_orders(list.requirementSn)">查看</a>
					</td>
				</tr>
				<tr ng-show="to_loading">
					<td colspan="14" class="norecord">
						<div class="warning-option"><i class="icon-warning-sign"></i><span>{{loading_text}}</span></div>
					</td>
				</tr>
			</tbody>
			<tfoot ng-hide="to_loading">
				<tr class="tfoot">
					<td colspan="14"><mt-pagination pagination-obj="pagination" form-page-one="true"></mt-pagination></td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
