<div class="page lt_order_detail">
    <div class="fixed-bar">
        <div class="item-title">
            <h3>电商维权申诉</h3>
            <ul class="tab-base">
                <li mt-show-model model-name="IPRPOrderListModel"><a href="JavaScript:history.go(-1)"><span>订单列表</span></a></li>
                <li mt-show-model model-name="IPRPOrderDetailModel"><a href="JavaScript:void(0);" class="current"><span>查看</span></a></li>
            </ul>
        </div>
    </div>
    <table class="table tb-type2 order">
        <tbody class="tr-color">
        	  <tr class="space">
                <th colspan="2">服务进度</th>
            </tr>
            <tr>
              <td colspan="2" ng-if="order_detail.orderState === 0">
                <span class="status">待受理</span> <span class="btn" ng-click="checkFn(orderSn)">受理</span>
              </td>
              <td colspan="2" ng-if="order_detail.orderState === 1">
                <span class="status">已受理</span> <span class="btn" ng-click="feedbackFn(orderSn)">结案反馈</span>
              </td>
              <td colspan="2" ng-if="order_detail.orderState === 2">
                <span class="status">已完成</span>
              </td>
              <td colspan="2" ng-if="order_detail.orderState === -1">
                <span class="status">已关闭</span>
              </td>
            </tr>
            <tr ng-if="order_detail.orderState === -1">
                <td colspan="2">
                    <ul>
                      <li style="width: 500px"><strong>拒绝受理原因：</strong><span style="display: inline-block;max-width: 400px;vertical-align: top;">{{order_detail.acceptContent}}</span></li>
                    </ul>
                    <ul>
                      <li><strong>操作时间：</strong>{{order_detail.acceptTime | date:'yyyy-MM-dd HH:mm:ss'}}</li>
                    </ul>
                </td>
            </tr>
            <tr class="space" ng-if="order_detail.orderState === 2">
                <th colspan="2">结案反馈</th>
            </tr>
            <tr ng-if="order_detail.orderState === 2">
              <td>
                <ul>
                  <li><strong>反馈时间：</strong>{{order_detail.settleTime | date:'yyyy-MM-dd HH:mm:ss'}}</li>
                </ul>
                <ul>
                  <li style="width: 500px"><strong>反馈内容：</strong><span style="display: inline-block;max-width: 400px;vertical-align: top;">{{order_detail.settleContent}}</span></li>
                </ul>
              </td>
            </tr>
            <tr class="space" ng-if="order_detail.orderState === 1 || order_detail.orderState === 2">
                <th colspan="2">受理情况</th>
            </tr>
            <tr ng-if="order_detail.orderState === 1 || order_detail.orderState === 2">
              <td>
                <ul>
                  <li><strong>操作时间：</strong>{{order_detail.acceptTime | date:'yyyy-MM-dd HH:mm:ss'}}</li>
                </ul>
                <ul>
                  <li style="width: 500px"><strong>告知内容：</strong><span style="display: inline-block;max-width: 400px;vertical-align: top;">{{order_detail.acceptContent}}</span></li>
                </ul>
              </td>
            </tr>
            <tr class="space">
                <th colspan="2">联系人信息</th>
            </tr>
            <tr>
              <td>
                <ul>
                  <li><strong>联系人：</strong>{{order_detail.contactName}}</li>
                  <li><strong>联系电话：</strong>{{order_detail.contactPhone}}</li>
                </ul>
              </td>
            </tr>
            <tr class="space">
                <th colspan="2">详情信息</th>
            </tr>
            <tr>
                <td colspan="2">
                    <ul>
                        <li><strong>申诉平台：</strong>{{order_detail.platform}}</li>
                        <li><strong>被投诉侵犯知识产权：</strong>{{order_detail.intellectualPropertyType|intellectualPropertyType}}</li>
                    </ul>
                    <ul>
                        <li style="width: 100%;">
                            <strong>凭证:</strong>
                            <div class="imgs" ng-if="order_detail.voucherUrls">
                              <a download ng-href="{{item}}" target="_blank" ng-repeat="item in order_detail.voucherUrls.split(';') track by $index"><img ng-src="{{item}}"></a>
                            </div>
                            <span ng-if="!order_detail.voucherUrls">无</span>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<style type="text/css">
    .lt_order_detail .table .status{color: red;margin-right: 20px;margin-left:1%;}
    .lt_order_detail .table .btn{height: 18px;line-height: 18px; padding: 5px 10px;background-color: #68a4fe;border-radius: 3px;color: #fff;cursor: pointer;display: inline-block;}
    .lt_order_detail .table .imgs{padding: 20px 0;}
    .lt_order_detail .table .imgs a{display: inline-block;margin-right: 20px;}
    .lt_order_detail .table .imgs a img{width: 150px;max-height: 150px;}
</style>
