<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <h3>服务分类</h3>
            <ul class="tab-base">
                <li mt-show-model model-name="IPRPBusinessClassListModel"><a href="#/main/business_home/business_class_list"><span>服务分类列表</span></a></li>
                <li mt-show-model model-name="IPRPAddBusinessClassModel"><a href="#/main/business_home/add_business_class"><span>添加服务分类</span></a></li>
                <li mt-show-model model-name="IPRPUpdateBusinessClassModel"><a href="JavaScript:void(0);" class="current"><span>编辑</span></a></li>
            </ul>
        </div>
    </div>
    <form id="edit_business_class_form" name="edit_business_class_form" role="form" class="form-horizontal" novalidate>
        <table class="table tb-type2">
            <tbody class="tr-color">
                <tr class="noborder">
                    <td colspan="2" class="required">
                        <label class="name validation" for="name">分类名称:</label>
                        <label class="error" ng-show="edit_business_class_form.name.$invalid && edit_business_class_form.submitted">
                            <small ng-show="edit_business_class_form.name.$error.required" class="error">
                                <span class="red">分类名称不可以为空</span>
                            </small>
                            <small class="error" ng-show="edit_business_class_form.name.$error.pattern">
                                <span class="red">分类名称只能使用中文、数字、字母</span>
                            </small>
                            <small class="error" ng-show="edit_business_class_form.name.$error.maxlength">
                                <span class="red">分类名称最大长度为20位</span>
                            </small>
                        </label>
                    </td>
                </tr>
                <tr class="noborder">
                    <td class="vatop rowform">
                        <input type="text" maxlength="20" name="name" id="name" ng-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9]+$/"  maxlength="20" class="txt" ng-model="business_class_detail.name" required>
                    </td>
                    <td class="vatop tips"></td>
                </tr>
                <!--<tr>-->
                    <!--<td colspan="2" class="required">-->
                        <!--服务分类:-->
                        <!--<span class="error" ng-show="AddBusinessForm.bs_class_id.$invalid && AddBusinessForm.submitted">-->
                            <!--<small ng-show="AddBusinessForm.bs_class_id.$error.required" class="error">-->
                                <!--<label><i class="icon-exclamation-sign"></i>请选择服务分类</label>-->
                            <!--</small>-->
                        <!--</span>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr class="noborder">-->
                    <!--<td class="vatop rowform">-->
                        <!--<select name="bs_class_id" ng-model="business_class_detail.bs_class_id" ng-options="a.bs_class_id as (a.deep === 1 ? '&nbsp;&nbsp;'+ a.name : a.deep > 1 ? '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+ a.name : a.name) for a in business_class_tree_list">-->
                            <!--<option value="">请选择...</option>-->
                        <!--</select>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td colspan="2" class="required">-->
                        <!--<label class="validation">排序:</label>-->
                        <!--<label class="error" ng-show="edit_business_class_form.sort.$invalid && edit_business_class_form.submitted">-->
                            <!--<small ng-show="edit_business_class_form.sort.$error.required" class="error">-->
                                <!--<span class="red">请输入排序数值</span>-->
                            <!--</small>-->
                            <!--<small ng-show="edit_business_class_form.sort.$error.pattern" class="error">-->
                                <!--<span class="red">排序格式有误</span>-->
                            <!--</small>-->
                        <!--</label>-->
                        <!--<label class="error" ng-show="sortWrong">-->
                            <!--<span class="red">数字范围为0~255,数字越小越靠前</span>-->
                        <!--</label>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr class="noborder">-->
                    <!--<td class="vatop rowform">-->
                        <!--<input type="text" class="txt" name="sort" ng-model="business_class_detail.sort" ng-pattern="/^[0-9]+$/" required>-->
                    <!--</td>-->
                    <!--<td>数字范围为0~255，数字越小越靠前</td>-->
                <!--</tr>-->
            </tbody>
            <tfoot>
                <tr class="tfoot">
                    <td colspan="15">
                        <a href="" class="btn" id="submitBtn" ng-click="submit()"><span>提交</span></a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
