<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <h3>权限设置</h3>
            <ul class="tab-base">
                <li mt-show-model model-name="IPRPAdminListModel"><a class="current"><span>管理员列表</span></a></li>
                <li mt-show-model model-name="IPRPAddAdminModel"><a href="#/main/setting_home/add_admin"><span>添加管理员</span></a></li>
                <li mt-show-model model-name="IPRPGadminListModel"><a href="#/main/setting_home/gadmin_list"><span>功能组列表</span></a></li>
                <li mt-show-model model-name="IPRPAddGadminModel"><a href="#/main/setting_home/add_gadmin"><span>添加功能组</span></a></li>
                <li mt-show-model model-name="IPRPDataListModel"><a href="#/main/setting_home/data_group_list"><span>业务组列表</span></a></li>
                <li mt-show-model model-name="IPRPAddDataModel"><a href="#/main/setting_home/add_data_group"><span>添加业务组</span></a></li>
            </ul>
        </div>
    </div>
    <table class="table tb-type2" id="prompt">
        <tbody class="tr-color">
            <tr class="space odd">
                <th colspan="12"><div class="title">
                    <h5>操作提示</h5>
                    <span  ng-show="hint" class="arrow" ng-click="hints()"></span>
                    <span  ng-hide="hint" class="arrow up" ng-click="hints()"></span>
                </div></th>
            </tr>
            <tr class="odd" ng-show="hint">
                <td>
                    <ul>
                        <li></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <form id="form_admin">
        <table class="table tb-type2">
            <thead>
                <tr class="thead">
                    <th>
                      <input type="checkbox" class="checkall" id="checkallBottom2" ng-checked="checkAll" ng-click="allChoose()" name="chkVal">
                    </th>
                    <th>登录名</th>
                    <th class="align-center">上次登录</th>
                    <th class="align-center">登录次数</th>
                    <th class="align-center">功能组</th>
                    <th class="align-center">业务组</th>
                    <th width="120px" class="align-center">创建时间</th>
                    <th class="align-center">操作</th>
                </tr>
            </thead>
            <tbody class="tr-color">
                <tr ng-show="adminList.length > 0" class="hover" ng-repeat="list in adminList">
                    <td class="w24">
                        <span ng-if="list.is_super === false">
                            <input type="checkbox" name="" value="" class="checkitem" ng-click="sChoose(list.admin_id)" ng-checked="allId.indexOf(list.admin_id) !== -1">
                        </span>
                        <span ng-if="list.is_super === true">
                            <input type="checkbox" name="" value="" class="checkitem" disabled="disabled">
                        </span>
                    </td>
                    <td ng-bind="list.name"></td>
                    <td ng-if="list.login_time !== null" class="align-center" ng-bind="list.login_time | date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <td ng-if="list.login_time === null" class="align-center">此管理员未登录过</td>
                    <td class="align-center" ng-bind="list.login_num"></td>
                    <td class="align-center" ng-bind="list.fg_name"></td>
                    <td class="align-center" ng-bind="list.dg_name"></td>
                    <td class="align-center" ng-bind="list.create_time | date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <td class="w150 align-center">
                        <span ng-if="list.is_super === false">
                            <a href="JavaScript:void(0);" mt-show-model model-name="IPRPUpdateAdminModel">
                                <span style="cursor: pointer" class="btn btn-default"  ng-click="edit_admin(list.admin_id)">编辑</span></a>
                            <!--<span mt-show-model model-name="IPRPUpdateAdminModel">|</span>-->
                            <a href="JavaScript:void(0);" mt-show-model model-name="IPRPDeleteAdminModel">
                                <span style="cursor: pointer" class="btn btn-default" ng-click="delete_admin(list.admin_id)">删除</span></a>
                        </span>
                        <span ng-if="list.is_super === true">
                            超级管理员不可编辑
                        </span>
                    </td>
                </tr>
                <tr ng-show="to_loading">
                    <td colspan="20" class="norecord">
                        <div class="warning-option"><i class="icon-warning-sign"></i><span>{{loading_text}}</span></div>
                    </td>
                </tr>
            </tbody>
            <tfoot ng-hide="to_loading">
                <tr colspan="20" class="tfoot">
                    <td><input type="checkbox" class="checkall" id="checkallBottom" ng-click="allChoose()" ng-checked="checkall" name="chkVal"></td>
                    <td><label for="checkallBottom">全选</label>&nbsp;&nbsp;
                        <a href="JavaScript:void(0);" mt-show-model model-name="IPRPDeleteAdminModel" ng-click="deleteAll()" class="btn"><span>删除</span></a>
                    </td>
                    <td colspan="10"><mt-pagination pagination-obj="pagination"></mt-pagination></td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
