<table class="menutd" valign="top" style="padding: 0px;width: 100%; height: 100%;margin-top:10px" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top" style="width: 161px;height: 690px;">
			<ul style="display: block; width: 162px" class="main-menu">
				<li mt-show-model model-name="IPRPOrderManageModel"><a id="order_list" ng-click="select($event)" href="#/main/trade_home/order_list">支付单管理</a></li>
				<li mt-show-model model-name="IPRPOrderManageModel"><a id="trade_order_list" ng-click="select($event)" href="#/main/trade_home/trade_order_list">交易金融-订单管理</a></li>
				<li mt-show-model model-name="IPRPDhgateOrderModel"><a id="dunhuang_list" ng-click="select($event)" href="#/main/trade_home/dunhuang_list">敦煌网-订单</a></li>
				<li mt-show-model model-name="IPRPPartnerOrderManageModel"><a id="partner_order_list" ng-click="select($event)" href="#/main/trade_home/partner_order_list">合伙人-订单管理</a></li>
				<li mt-show-model model-name="IPRPPartnerRequirementModel"><a id="partner_bs_order_list" ng-click="select($event)" href="#/main/trade_home/partner_bs_order_list">合伙人-服务单</a></li>
				<li mt-show-model model-name="IPRPCxbOrderModel"><a id="demand_list" ng-click="select($event)" href="#/main/trade_home/demand_list">合伙人--需求单</a></li>
				<li mt-show-model model-name="IPRPBsOrderManageModel"><a id="bs_order_list" ng-click="select($event, 'bs_order')" href="#/main/trade_home/bs_order_list">服务单管理</a></li>
				<li mt-show-model model-name="IPRPNtOrderManageModel"><a id="nt_order_list" ng-click="select($event, 'nt_order')" href="#/main/trade_home/nt_order_list">存证单管理</a></li>
				<li mt-show-model model-name="IPRPCxbOrderModel"><a id="cxb_order_list" ng-click="select($event, 'cxb_order')" href="#/main/trade_home/cxb_order_list">创新保订单管理</a></li>
				<!-- <li mt-show-model model-name="IPRPCxbOrderModel"><a id="wm_order_list" ng-click="select($event, 'wm_order')" href="#/main/trade_home/wm_order_list">跨境外贸</a></li> -->
				<li mt-show-model model-name="IPRPCxbOrderModel"><a id="hzwm_order_list" ng-click="select1($event)" href="#/main/trade_home/hzwm_order_list">服务贸易</a></li>
				<li mt-show-model model-name="IPRPCxbOrderModel"><a id="hyhl_order_list" ng-click="select($event)" href="#/main/trade_home/hyhl_order_list">行业惠利</a></li>
				<li mt-show-model model-name="IPRPInfringeReportModel"><a id="ip_order_list" ng-click="select($event)" href="#/main/trade_home/ip_order_list">侵权报告</a></li>
				<li mt-show-model model-name="IPRPOrderManageModel"><a id="channel_work_order" ng-click="select($event)" href="#/main/trade_home/channel_work_order">渠道工单</a></li>
				<li mt-show-model model-name="IPRPOrderManageModel"><a id="channel_service_order" ng-click="select($event)" href="#/main/trade_home/channel_service_order">渠道服务单</a></li>
				<li mt-show-model model-name="IPRPOrderManageModel"><a id="channel_order" ng-click="select($event)" href="#/main/trade_home/channel_order">渠道支付单</a></li>
				<li mt-show-model model-name="IPRPOrderManageModel"><a id="tmall_nice_order" ng-click="select($event)" href="#/main/trade_home/tmall_nice_list">天猫尼斯推荐</a></li>
				
				<!--
				<li mt-show-model model-name="IPRPRefundManageModel"><a id="refund_list" ng-click="select($event)" href="#/main/trade_home/refund_list">退款管理</a></li> -->
				<!--隐藏(home页权限需要加载)-->
				<li ng-show="true" mt-show-model model-name="IPRPPrivilegeManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPInvoiceManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPRedInvoiceManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPMemberListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBlocMemberListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBusinessListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPServicerListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPChannelListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPOrderListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPInvoiceListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPRedInvoiceListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPAdminListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPGadminListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPDateListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBusinessListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPServicerListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPAccountDetailListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPUnopenInvoiceListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPOpenInvoiceListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPRedInvoiceCheckListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPRedUnOpenInvoiceListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPRedOpenInvoiceListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPNewsManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPOrderSettingModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPPaymentManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPExpressManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPEmailManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPLogsManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPEmailTplListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPEmailSetModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPMemberManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBlocMemberManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPAssignServicerManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBusinessClassManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPServiceManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPServicerManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBadServiceManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPCapitAlacountManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPSpBillManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBillTplManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPOrderManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBsOrderManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPNtOrderManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPRefundManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBusinessManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBusinessClassManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPUpdateExpressModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBillFinancialAuditModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBillSalesmanAuditModel"></li>

				<li ng-show="true" mt-show-model model-name="IPRPDhgateOrderModel"></li>
			</ul>
		</td>
		<td ui-view class="ng-scope" valign="top" style="min-width: 1180px; min-height: 1000px;">
		</td>
	</tr>
</table>
<div class="sebe">
	<p class="sebename">拾贝管理后台</p>
	<p class="sebeurl">www.ipsebe.com</p>
</div>
