<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <h3>指定服务商</h3>
            <ul class="tab-base">
                <li mt-show-model model-name="IPRPAssignServicerListModel"><a href="JavaScript:void(0);" class="current"><span>指定服务商列表</span></a></li>
                <li mt-show-model model-name="IPRPAddAssignServicerModel"><a href="#/main/user_home/add_assignService"><span>添加指定服务商</span></a></li>
            </ul>
        </div>
    </div>
    <form name="formSearch" id="formSearch">
        <table class="tb-type1 noborder search">
            <tbody class="tr-color">
                <tr>
                    <th><label>用户编码：</label></th>
                    <td><input type="text" placeholder="用户编码" value="" class="txt" ng-model="code"></td>
                    <td>
                        <a href="javascript:void(0);" class="btn-search" ng-click="search()">查询</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <table class="table tb-type2" id="prompt">
        <tbody class="tr-color">
            <tr class="space odd" >
                <th colspan="12"><div class="title">
                    <h5>操作提示</h5>
                    <span  ng-show="hint" class="arrow" ng-click="hints()"></span>
                    <span  ng-hide="hint" class="arrow up" ng-click="hints()"></span>
                </div></th>
            </tr>
            <tr class="odd" ng-show="hint">
                <td>
                    <ul>
                        <li>通过会员指定服务商管理，你可以进行添加指定服务商操作</li>
                        <li>你可以根据条件搜索，然后选择相应的操作</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <form>
        <table class="table tb-type2">
            <thead>
                <tr class="thead">
                    <th class="align-center" style="width: 40px;">序号</th>
                    <th class="align-center">用户编码</th>
                    <th class="align-center">已指定服务</th>
                    <th style="width: 120px;" class="align-center">创建时间</th>
                    <th class="align-center">操作</th>
                </tr>
            </thead>
            <tbody class="tr-color">
                <tr class="" ng-show="member_assign_list.length > 0" class="hover" ng-repeat="list in member_assign_list">
                    <td class="align-center">
                        <span ng-bind="list.number"></span>
                    </td>
                    <td class="align-center" ng-bind="list.apply_code"></td>
                    <td class="align-center" ng-bind="list.designation_sp_count"></td>
                    <td class="align-center" ng-bind="list.create_time | date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <td class="align-center w120">
                        <a href="javascript:void(0);" mt-show-model model-name="IPRPUpdateAssignServicerModel"
                           style="cursor: pointer" ng-click="update(list.designation_id)">编辑</a>
                        <a href="javascript:void(0);" mt-show-model model-name="IPRPAssignServicerModel"
                           style="cursor: pointer" ng-click="user_edit_service(list.designation_id)">指定服务商</a>
                    </td>
                </tr>
                <tr ng-show="to_loading">
                    <td colspan="20" class="norecord">
                        <div class="warning-option"><i class="icon-warning-sign"></i><span>{{loading_text}}</span></div>
                    </td>
                </tr>
            </tbody>
            <tfoot ng-hide="to_loading">
                <tr colspan="15" class="tfoot">
                    <td colspan="19"><mt-pagination pagination-obj="pagination"></mt-pagination></td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
