<div class="pagination">
    <ul>
        <li ng-show="true" class="demo"><span style="font-weight: bold;color:#666;">共{{pagination.totalCount}}条记录</span></li>
        <li ng-show="curPage != (pagination.isFormPageOne ? 1 : 0)" class="demo"><a ng-click="first()"><span>首页</span></a></li>
        <li ng-show="curPage == (pagination.isFormPageOne ? 1 : 0)"><span>首页</span></li>
        <li ng-show="curPage != (pagination.isFormPageOne ? 1 : 0)"class="demo"><a ng-click="prev()"><span>上一页</span></a></li>
        <li ng-show="curPage == (pagination.isFormPageOne ? 1 : 0)"><span>上一页</span></li>
        <li ng-repeat="page in pages" ng-class="{'demo':page.index != curPage}">
            <span  ng-show="(pagination.isFormPageOne ? page.index : page.index-1) == curPage" class=currentpage>{{page.index}}</span>
            <a ng-show="(pagination.isFormPageOne ? page.index : page.index-1) != curPage" class="demo" >
                <span  ng-click="gotoPage(pagination.isFormPageOne ? page.index : page.index-1)">{{page.index}}</span>
            </a>
        </li>
        <li ng-show="isLast" ><span>下一页</span></li>
        <li ng-show="!isLast" class="demo" ><a ng-click="next()"><span>下一页</span></a></li>
        <li ng-show="isLast" ><span>末页</span></li>
        <li ng-show="!isLast" class="demo" ><a ng-click="last()"><span>末页</span></a></li>
        <li ng-show="true" class="demo" ><span>共{{pageCount}}页</span></li>
    </ul>
</div>
