<div class="page">
  <div class="fixed-bar">
      <div class="item-title">
          <h3>提现审核</h3>
          <ul class="tab-base">
              <li mt-show-model model-name="IPRPBillTplListModel"><a href="JavaScript:void(0);" class="current"><span>提现列表</span></a></li>
              <!-- <li mt-show-model model-name="IPRPBillTplListModel"><a href="#/main/service_home/label_tpl_add"><span>添加</span></a></li> -->
          </ul>
      </div>
  </div>
  <form name="formSearch" id="formSearch">
    <table class="tb-type1 noborder search">
        <tbody class="tr-color">
            <tr>
              <th><label>月份选择:</label></th>
              <td><input type="text" class="txt date hasDatepicker" datepicker-popup placeholder="" name="payTimeEnd" id="withdrawTime"  ng-model="withdrawTime"
                          data-start-date="payTimeBegin" style="cursor:pointer" readonly/></td>
              <th><label>合伙人昵称:</label></th>
              <td><input type="text" value="" class="ng-pristine ng-untouched ng-valid ng-empty" ng-model="obj.nickname"></td>
              <th><label>合伙人店铺名:</label></th>
              <td><input type="text" value="" class="ng-pristine ng-untouched ng-valid ng-empty" ng-model="obj.storeName"></td>
              <th><label>合伙人手机:</label></th>
              <td><input type="text" value="" class="ng-pristine ng-untouched ng-valid ng-empty" ng-model="obj.phone"></td>
              <th><label>审核状态:</label></th>
              <td>
                <select ng-model="obj.withdrawState" style="width: 140px;">
                    <option value="">选择审核状态</option>
                    <option value="0">提现中</option>
                    <option value="1">提现成功</option>
                    <option value="-1">提现失败</option>
                </select>
              </td>
              <td>
                  <a href="javascript:void(0);" class="btn-search" ng-click="search()">查询</a>
              </td>         
        </tbody>
    </table>
</form>

  <form>
      <table class="table tb-type2">
          <thead>
              <tr class="thead">
                  <th class="align-center" style="width: 40px;">序号</th>
                  <th class="align-center">合伙人昵称</th>
                  <th class="align-center">合伙人店铺名</th>
                  <th class="align-center">合伙人手机</th>
                  <th style="width: 120px;" class="align-center">提现笔数</th>
                  <th style="width: 120px;" class="align-center">提现总额</th>
                  <th style="width: 120px;" class="align-center">代扣个税</th>
                  <th class="align-center">实际到账</th>
                  <th class="align-center">审核状态</th>
                  <th class="align-center">操作</th>
              </tr>
          </thead>
          <tbody class="tr-color">
            <tr class="" ng-show="labelList.length > 0" class="hover" ng-repeat="list in labelList">
                  <td class="align-center">{{ $index+1 }}</td>
                  <td class="align-center">{{list.nickname}}</td>
                  <td class="align-center" >{{ list.storeName }}</td>
                  <td class="align-center" >{{ list.phone }}</td>
                  <td class="align-center">{{ list.withdrawNum }}</td>
                  <td class="align-center">{{ list.withdrawAmount }}</td>
                  <td class="align-center">{{ list.personalTax }}</td>
                  <td class="align-center">{{ list.realAmount }}</td>
                  <td class="align-center">{{ list.withdrawState | withdrawStateFil }}</td>
                  <td class="align-center w120">
                      <a href="JavaScript:void(0);" mt-show-model model-name="IPRPHandleModel"
                              style="cursor: pointer" ng-click = "checkDetailFn(list.id)">查看</a>
                  </td>
              </tr>
              <tr ng-show="to_loading">
                  <td colspan="20" class="norecord">
                      <div class="warning-option"><i class="icon-warning-sign"></i><span>{{loading_text}}</span></div>
                  </td>
              </tr>
          </tbody>
          <tfoot ng-hide="to_loading">
              <tr colspan="15" class="tfoot">
                  <td colspan="19"><mt-pagination pagination-obj="pagination" form-page-one="true" ></mt-pagination></td>
              </tr>
          </tfoot>
      </table>
  </form>
</div>
