<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<h3>渠道服务单</h3>
			<ul class="tab-base">
				<li mt-show-model model-name="IPRPBsOrderListModel"><a href="JavaScript:void(0);" class="current"><span>服务单列表</span></a></li>
			</ul>
		</div>
	</div>
	<form name="formSearch" id="formSearch">
		<table class="tb-type1 noborder search">
			<tbody class="tr-color">
				<tr>
					<th><label>服务单号：</label></th>
					<td><input type="text" class="txt" ng-model="obj.orderSn"></td>
					<th><label>订单来源：</label></th>
					<td>
						<select ng-model="orderOriginId" style="width: 225px;" ng-options="type.id as type.name for type in origindata">
								<option value="">请选择</option>
						</select>
					</td>
					<th><label>客户平台：</label></th>
					<td>
						<select ng-model="custPlatformId" style="width: 120px;" ng-options="item.id as item.name for item in platfomdata">
								<option value="">请选择</option>
						</select>
					</td>
					<th><label>客户姓名：</label></th>
					<td><input type="text" class="txt" ng-model="obj.memberName"></td>
					<th><label>客户手机号：</label></th>
					<td><input type="text" class="txt" ng-model="obj.memberPhone"></td>
					
				</tr>
				<tr>
					<th><label>服务商名称：</label></th>
					<td><input type="text" class="txt" ng-model="obj.spName"></td>
					<th><label>下单时间：</label></th>
					<td>
						<div class="time_wrap">
						<input type="text" class="txt date hasDatepicker" datepicker-popup placeholder="" name="createTimeStart" id="createTimeStart" ng-model="createTimeStart"
								max-date="createTimeEnd" style="cursor:pointer" readonly/>
						<label for="createTimeEnd">~</label>
						<input type="text" class="txt date hasDatepicker" datepicker-popup placeholder="" name="createTimeEnd" id="createTimeEnd"  ng-model="createTimeEnd"
								min-date="createTimeStart" style="cursor:pointer" readonly/>
					  </div>
					</td>
					<!-- <th><label>支付状态：</label></th>
					<td>
						<select ng-model="obj.paymentState" style="width: 120px;">
							<option value="">请选择</option>
							<option value="0">未支付</option>
							<option value="1">已支付</option>
						</select>
					</td> -->
					<th><label>服务状态：</label></th>
					<td>
						<!-- <select ng-model="typeobj.fir_id" ng-change="bs_type_change(1, typeobj.fir_id)" ng-options="type.id as type.name for type in firTypeData">
							<option value="">请选择</option>
						</select>
						<select ng-model="typeobj.sec_id" ng-change="bs_type_change(2, typeobj.sec_id)" ng-options="type.id as type.name for type in secTypeData">
							<option value="">请选择</option>
						</select>
						<select ng-model="typeobj.thi_id" ng-change="bs_type_change(3, typeobj.thi_id)" ng-options="type.id as type.name for type in thiTypeData">
							<option value="">请选择</option>
						</select> -->
						<select ng-model="obj.bsFeedbackName" ng-change="bs_type_change(4)" ng-options="type.bs_feedback_id as type.name for type in serviceState">
							<option value="">请选择服务状态</option>
						</select>
					</td>
					<td style="text-align:left;" colspan="2">
						<a href="javascript:void(0);" class="btn-search" ng-click="search_order()">查询</a>
						<a href="javascript:void(0);" class="btn-reset" ng-click="search_reset()" title="重置">重置</a>
						<!-- <a href="javascript:void(0);" class="btn-reset" ng-click="search_export()" title="导出">导出</a> -->
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<!-- <table class="table tb-type2" id="prompt">
		<tbody class="tr-color">
			<tr class="space odd" >
				<th colspan="12"><div class="title">
					<h5>操作提示</h5>
					<span  ng-show="hint" class="arrow" ng-click="hints()"></span>
					<span  ng-hide="hint" class="arrow up" ng-click="hints()"></span>
				</div></th>
			</tr>
			<tr class="odd" ng-show="hint">
				<td>
					<ul>
						<li></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table> -->
	<form>
		<table class="table tb-type2">
			<thead>
				<tr class="thead">
					<th class="align-center">序号</th>
					<th class="align-center">服务单号</th>
					<th style="width: 120px;" class="align-center">添加时间</th>
					<th class="align-center">服务名称</th>
					<th class="align-center">订单来源</th>
					<th class="align-center">客户平台</th>
					<th class="align-center">客户姓名</th>
					<th class="align-center">客户手机号</th>
					<th class="align-center">服务商</th>
					<th class="align-right">金额</th>
					<th class="align-center">服务状态</th>
					<th class="align-center">操作</th>
				</tr>
			</thead>
			<tbody class="tr-color">
				<tr class="" ng-show="OrderList.length > 0" class="hover" ng-repeat="list in OrderList">
					<td class="align-center"><span ng-bind="list.seqNo"></span></td>
					<td class="align-center" ng-bind="list.orderSn"></td>
					<td class="align-center" ng-bind="list.createTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
					<td class="align-center" ng-bind="list.bsName"></td>
					<td class="align-center" ng-bind="list.orderOrigin"></td>
					<td class="align-center" ng-bind="list.custPlatform"></td>
					<td class="align-center" ng-bind="list.memberName"></td>
					<td class="align-center" ng-bind="list.memberPhone"></td>
					<td class="align-center" ng-bind="list.spName"></td>
					<td class="align-right" ng-bind="list.orderAmount | number:2"></td>
					<td class="align-center" ng-bind="list.bsFeedbackName"></td>
					<td class="align-center w120">
						<a href="JavaScript:void(0);" style="cursor: pointer" ng-click="detail_orders(list.orderSn)">查看</a>
					</td>
				</tr>
				<tr ng-show="to_loading">
					<td colspan="12" class="norecord">
						<div class="warning-option"><i class="icon-warning-sign"></i><span>{{loading_text}}</span></div>
					</td>
				</tr>
			</tbody>
			<tfoot ng-hide="to_loading">
				<tr class="tfoot">
					<td colspan="12"><mt-pagination pagination-obj="pagination" form-page-one="true"></mt-pagination></td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
