<div class="page" ng-hide="next_open_service">
	<div class="fixed-bar">
		<div class="item-title">
			<h3>添加商家</h3>
			<ul class="tab-base">
				<li mt-show-model model-name="IPRPServicerListModel"><a href="#/main/merchant_home/servicer_list"><span>商家列表</span></a></li>
				<li mt-show-model model-name="IPRPAddServicerModel"><a class="current"><span>添加商家</span></a></li>
			</ul>
		</div>
	</div>
	<form name="AddServiceForm" role="form" class="form-horizontal" novalidate>
		<table class="table tb-type2">
			<tbody class="tr-color">
				<tr class="noborder">
					<td colspan="2" class="required">
						<label>商家信息</label>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="required">
						<label class="validation">账号:</label>
						<span class="error" ng-show="AddServiceForm.account.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.account.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>账号不可以为空</label>
							</small>
							<small class="error" ng-show="AddServiceForm.account.$error.pattern">
								<label><i class="icon-exclamation-sign"></i>账号只能使用英文字母和数字</label>
							</small>
							<small class="error" ng-show="AddServiceForm.account.$error.maxlength || AddServiceForm.account.$error.minlength">
								<label><i class="icon-exclamation-sign"></i>登录名长度为2~30位</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<input type="text" value="" name="account" class="txt" ng-minlength="2" ng-maxlength="30"
							   ng-pattern="/^[a-zA-Z\d]+$/"  ng-model="add_service_obj.account" required/>
					</td>
					<td class="vatop tips">
						账号唯一且不可修改
					</td>
				</tr>
				<tr>
					<td colspan="2" class="required">
						<label class="validation">编码:</label>
						<span class="error" ng-show="AddServiceForm.code.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.account.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>编码不可以为空</label>
							</small>
							<small class="error" ng-show="AddServiceForm.code.$error.pattern">
								<label><i class="icon-exclamation-sign"></i>编码只能使用英文字母大小写和数字(特殊符号下划线和-)</label>
							</small>
							<small class="error" ng-show="AddServiceForm.code.$error.maxlength">
								<label><i class="icon-exclamation-sign"></i>编码长度为10位</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<input type="text" value="" name="code" class="txt" ng-maxlength="10"
							   ng-pattern="/^[a-zA-Z0-9_-]+$/" ng-model="add_service_obj.code" required/>
					</td>
					<td class="vatop tips">
						编码唯一且不可修改
					</td>
				</tr>
				<tr>
					<td colspan="2" class="required">
						<label class="validation">商家名称:</label>
						<span class="error" ng-show="AddServiceForm.name.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.name.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>商家名称不可以为空</label>
							</small>
							<small class="error" ng-show="AddServiceForm.name.$error.pattern">
								<label><i class="icon-exclamation-sign"></i>商家名称只能使用中文、数字、字母和</label>
							</small>
							<small class="error" ng-show="AddServiceForm.name.$error.maxlength || AddServiceForm.name.$error.minlength">
								<label><i class="icon-exclamation-sign"></i>商家名称长度为3~50位</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<input type="text" value="" name="name" class="txt"
							   ng-minlength="3" ng-maxlength="50" ng-pattern="/^[\u4e00-\u9fa5\sa-zA-Z0-9]+$/"
							   ng-model="add_service_obj.name" required/>
					</td>
					<td class="vatop tips">商家名称唯一且不可修改</td>
				</tr>
				<tr>
					<td colspan="2" class="required">
						<label class="validation">商家类型:</label>
						<span class="error" ng-show="AddServiceForm.spType.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.spType.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>商家类型不可以为空</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<select ng-model="add_service_obj.spType" name="spType" required>
							<option value="">请选择商家类型</option>
							<option value="1">企业商家</option>
							<option value="2">个人商家</option>
						</select>
					</td>
					<td class="vatop tips"></td>
				</tr>
				<tr>
					<td colspan="2" class="required">
						<label class="validation">联系人:</label>
						<span class="error" ng-show="AddServiceForm.sp_contacts.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.sp_contacts.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>联系人不可以为空</label>
							</small>
							<small class="error" ng-show="AddServiceForm.sp_contacts.$error.pattern">
								<label><i class="icon-exclamation-sign"></i>联系人只能使用中文、数字、字母和空格</label>
							</small>
							<small class="error" ng-show="AddServiceForm.sp_contacts.$error.maxlength || AddServiceForm.sp_contacts.$error.minlength">
								<label><i class="icon-exclamation-sign"></i>联系人长度为2~15位</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<input type="text" value="" name="sp_contacts" class="txt" ng-minlength="2" ng-maxlength="15"
							   ng-pattern="/^[\u4e00-\u9fa5\sa-zA-Z0-9]+$/"  ng-model="add_service_obj.sp_contacts" required/>
					</td>
					<td class="vatop tips"></td>
				</tr>
				<tr>
					<td colspan="2" class="required">
						<label class="validation">手机号:</label>
						<span class="error" ng-show="AddServiceForm.phone.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.phone.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>手机号不可以为空</label>
							</small>
							<small class="error" ng-show="AddServiceForm.phone.$error.pattern">
								<label><i class="icon-exclamation-sign"></i>输入的手机号有误</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<input type="text" value="" name="phone" class="txt" ng-pattern="/^1[0-9]{10}$/" ng-model="add_service_obj.phone" required>
					</td>
					<td class="vatop tips"></td>
				</tr>
				<tr>
					<td colspan="2" class="required">
						<label class="validation">邮箱:</label>
						<span class="error" ng-show="AddServiceForm.email.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.email.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>邮箱不可以为空</label>
							</small>
							<small class="error" ng-show="AddServiceForm.email.$error.pattern">
								<label><i class="icon-exclamation-sign"></i>输入的邮箱号有误</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<input type="text" value="" name="email"
							   ng-pattern="/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/" class="txt" ng-model="add_service_obj.email" required/>
					</td>
					<td class="vatop tips">
						邮箱唯一且不可修改
					</td>
				</tr>
				<tr>
					<td colspan="2" class="required">
						<label class="validation">虚拟账户数量:</label>
						<span class="error" ng-show="AddServiceForm.virtual_num.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.virtual_num.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>虚拟账户数量不可以为空</label>
							</small>
							<small class="error" ng-show="AddServiceForm.virtual_num.$error.pattern">
								<label><i class="icon-exclamation-sign"></i>输入的虚拟账户数量有误，请输入大于0的两位整数</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<input type="text" value="" name="virtual_num" class="txt" ng-pattern="/^[1-9]\d?$/" ng-model="add_service_obj.virtual_num" maxlength="2" required/>
					</td>
					<td class="vatop tips"></td>
				</tr>
				<tr>
	          <td colspan="2" class="required">
	              <label class="validation">创新保虚拟账户数量(原创新保业务人员数):</label>
	              <span class="error" ng-show="EditServiceForm.virtual_num.$invalid && EditServiceForm.submitted">
	                  <small ng-show="EditServiceForm.virtual_num.$error.required" class="error">
	                      <label><i class="icon-exclamation-sign"></i>创新保虚拟账户数量不可以为空</label>
	                  </small>
	                  <small class="error" ng-show="EditServiceForm.virtual_num.$error.pattern">
	                      <label><i class="icon-exclamation-sign"></i>创新保虚拟账户数量有误，请输入0-1000整数</label>
	                  </small>
	              </span>
	          </td>
	      </tr>
	      <tr class="noborder">
	          <td class="vatop rowform">
	              <input type="text" value="" name="virtual_num" class="txt" ng-pattern="/(^0$)|(^[1-9]\d{0,2}$)|(^1000$)/" ng-model="service_detail.virtual_num" required/>
	          </td>
	          <td class="vatop tips"></td>
	      </tr>

				<tr class="noborder">
					<td class="vatop rowform">
						<label class="validation">被委托单位:</label>
						<span class="error" ng-show="AddServiceForm.entrustedUnit.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.entrustedUnit.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>被委托单位不可以为空</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<select name="entrustedUnit" ng-model="add_service_obj.entrustedUnit" ng-options="item.name as item.name for item in entrustList" required>
							<option value="">请选择被委托单位</option>
						</select>
					</td>
					<td class="vatop tips">请选择委托书内的被委托单位名称</td>
				</tr>


				<!-- <tr>
					<td colspan="2" class="required">
						<label class="validation">能力值:</label>
						<span class="error" ng-show="AddServiceForm.ability.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.ability.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>能力值不可以为空</label>
							</small>
							<small class="error" ng-show="AddServiceForm.ability.$error.pattern">
								<label><i class="icon-exclamation-sign"></i>能力值只能使用数字</label>
							</small>
							<small class="error" ng-show="AddServiceForm.ability.$error.maxlength || AddServiceForm.ability.$error.minlength">
								<label><i class="icon-exclamation-sign"></i>能力值长度为1~8位</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						虚拟账号1、<input style="width:170px;ime-mode:Disabled" type="number" value="" name="ability" class="txt" min="1"
									 onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"
									 oninput="if(value.length > 6)value=value.slice(0,6)"
							   ng-model="ability_obj.spAbility" required/><a href="" ng-click="addAbility()">+</a>
					</td>
					<td class="vatop tips"></td>
				</tr>
				<tr ng-repeat = "local in localServiceAbility | orderBy : spAbility">
					<td class="vatop rowform">
						虚拟账号{{$index+2}}、<input style="width:170px;ime-mode:Disabled" type="number" value="" name="ability" class="txt" min="1"
												onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"
												oninput="if(value.length > 6)value=value.slice(0,6)"
									 ng-model="local.spAbility" required/> <a href="" ng-click="deleteAbility($index)">-</a>
					</td>
					<td class="vatop tips"></td>
				</tr> -->
				<tr>
					<td colspan="2" class="required">
						<label class="validation">地址:</label>
						<span class="error" ng-show="is_area_show">
							<small class="error">
								<label><i class="icon-exclamation-sign"></i>地址不可以为空</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td style="width: 200px;">
						<open-mt-address province-area-id="add_service_obj.provinceId"
										 city-area-id="add_service_obj.cityId" area-area-id="add_service_obj.areaId"
										 judge="submitted"
										 province-area-name="add_service_obj.province_name"
										 city-area-name="add_service_obj.city_name"
										 area-area-name="add_service_obj.area_name">
						</open-mt-address>
					</td>
					<td class="vatop tips">
						地址不可修改
					</td>
				</tr>
				<tr>
					<td colspan="2" class="required">
						<label class="validation">详细地址:</label>
						<span class="error" ng-show="AddServiceForm.address.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.address.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>详细地址不可以为空</label>
							</small>
							<small class="error" ng-show="AddServiceForm.address.$error.pattern">
								<label><i class="icon-exclamation-sign"></i>详细地址只能使用中文、数字、字母和空格</label>
							</small>
							<small class="error" ng-show="AddServiceForm.address.$error.maxlength || AddServiceForm.address.$error.minlength">
								<label><i class="icon-exclamation-sign"></i>详细地址长度为3~40位</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<input type="text" value="" name="address" ng-minlength="3" ng-maxlength="40"
							   ng-pattern="/^[\u4e00-\u9fa5\sa-zA-Z0-9()]+$/" class="txt" ng-model="add_service_obj.address" required/>
					</td>
					<td class="vatop tips">
						详细地址不可修改
					</td>
				</tr>
				<!--<tr>-->
					<!--<td colspan="2" class="required">-->
						<!--<label class="validation">状态:</label>-->
						<!--<span class="error" ng-show="AddServiceForm.address.$invalid && AddServiceForm.submitted">-->
							<!--<small ng-show="AddServiceForm.address.$error.required" class="error">-->
								<!--<label><i class="icon-exclamation-sign"></i>状态不可以为空</label>-->
							<!--</small>-->
						<!--</span>-->
					<!--</td>-->
				<!--</tr>-->
				<!--<tr class="noborder">-->
					<!--<td class="vatop rowform">-->
						<!--<label for="attr_show1" class="cb-enable" style="text-align:center;border:solid 1px #d3d3d3;border-right:none;border-top-left-radius:4px;-->
									<!--border-top-right-radius:0;-->
									<!--border-bottom-right-radius:0;-->
									<!--border-bottom-left-radius:4px;">-->
							<!--<span ng-click="turnOn($event)" class="selected">正常</span>-->
						<!--</label>-->
						<!--<label for="attr_show0" class="cb-enable" style="text-align:center;border:solid 1px #d3d3d3;border-left:none;border-top-left-radius:0;-->
									<!--border-top-right-radius:4px;-->
									<!--border-bottom-right-radius:4px;-->
									<!--border-bottom-left-radius:0;">-->
							<!--<span ng-click="turnOff($event)">冻结</span>-->
						<!--</label>-->
						<!--<input style="display:none;" id="attr_show1" name="attr_show" checked="checked" value="1" type="radio">-->
						<!--<input style="display:none;" id="attr_show0" name="attr_show" value="0" type="radio">-->
					<!--</td>-->
				<!--</tr>-->
				<tr class="noborder" style="border-bottom: 1px solid #DFE4EA;">
					<td colspan="2" class="required">
						<label>渠道账号绑定</label>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform" style="padding-top: 10px!important;">
						<input type="text" value="" name="account_holder" class="txt"
							   ng-minlength="2" ng-maxlength="15" ng-model="add_service_obj.account_holder"/>
					</td>
					<td class="vatop tips" style="padding-top: 10px!important;">请输入创新保平台的商家账号</td>
				</tr>
				<tr class="noborder">
					<td colspan="2" class="required">
						<label>结算信息</label>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="required">
						<label class="validation">结算模板:</label>
						<span class="error" ng-show="AddServiceForm.bill_tpl.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.bill_tpl.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>结算模板不可以为空</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<select name="bill_tpl" ng-model="add_service_obj.bill_template_id" ng-options="bill_tpl.bill_template_id as bill_tpl.template_name for bill_tpl in bill_template_list.elements" required>
							<option value="">选择结算模板</option>
						</select>
					</td>
					<td class="vatop tips"></td>
				</tr>
				<tr>
					<td colspan="2" class="required">
						<label class="validation">银行:</label>
						<span class="error" ng-show="AddServiceForm.bank.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.bank.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>银行不可以为空</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<select name="bank" ng-model="add_service_obj.bank" ng-options="bank.name as bank.name for bank in bankArry" required>
							<option value="">选择银行</option>
						</select>
					</td>
					<td class="vatop tips"></td>
				</tr>
				<tr>
					<td colspan="2" class="required">
						<label class="validation">开户人:</label>
						<span class="error" ng-show="AddServiceForm.account_holder.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.account_holder.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>开户人不可以为空</label>
							</small>
							<small class="error" ng-show="AddServiceForm.account_holder.$error.pattern">
								<label><i class="icon-exclamation-sign"></i>开户人只能使用中文、数字、字母和空格</label>
							</small>
							<small class="error" ng-show="AddServiceForm.account_holder.$error.maxlength || AddServiceForm.account_holder.$error.minlength">
								<label><i class="icon-exclamation-sign"></i>开户人长度为2~15位</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<input type="text" value="" name="account_holder" class="txt"
							   ng-minlength="2" ng-maxlength="15" ng-model="add_service_obj.account_holder" required/>
					</td>
					<td class="vatop tips"></td>
				</tr>
				<tr>
					<td colspan="2" class="required">
						<label class="validation">银行账号:</label>
						<span class="error" ng-show="AddServiceForm.account_number.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.account_number.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>银行账号不可以为空</label>
							</small>
							<small class="error" ng-show="AddServiceForm.account_number.$error.pattern">
								<label><i class="icon-exclamation-sign"></i>银行账号只能使用数字,且长度为19位</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<input type="text" value="" name="account_number" class="txt"
							   ng-pattern="/^\d{19}$/" ng-model="add_service_obj.account_number" required/>
					</td>
					<td class="vatop tips"></td>
				</tr>
				<tr>
					<td colspan="2" class="required">
						<label class="validation">开户地址:</label>
						<span class="error" ng-show="AddServiceForm.account_address.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.account_address.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>开户地址不可以为空</label>
							</small>
							<small class="error" ng-show="AddServiceForm.account_address.$error.pattern">
								<label><i class="icon-exclamation-sign"></i>开户地址只能使用中文、数字、字母和空格</label>
							</small>
							<small class="error" ng-show="AddServiceForm.account_address.$error.maxlength || AddServiceForm.account_address.$error.minlength">
								<label><i class="icon-exclamation-sign"></i>开户地址长度为3~40位</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<input type="text" value="" name="account_address" class="txt" ng-minlength="3" ng-maxlength="40"
							   ng-pattern="/^[\u4e00-\u9fa5\sa-zA-Z0-9()]+$/" ng-model="add_service_obj.account_address" required/>
					</td>
					<td class="vatop tips"></td>
				</tr>


				<tr class="noborder">
					<td colspan="2" class="required">
						<label>营销信息</label>
					</td>
				</tr>

				<tr>
					<td colspan="2" class="required">
						<label class="validation">商家识别码:</label>
						<span class="error" ng-show="AddServiceForm.idCode.$invalid && AddServiceForm.submitted">
							<small ng-show="AddServiceForm.idCode.$error.required" class="error">
								<label><i class="icon-exclamation-sign"></i>识别码不可以为空</label>
							</small>
							<small ng-show="AddServiceForm.idCode.$error.pattern" class="error">
								<label><i class="icon-exclamation-sign"></i>识别码为4位正整数</label>
							</small>
						</span>
					</td>
				</tr>
				<tr class="noborder">
					<td class="vatop rowform">
						<input type="text" value="" name="idCode" class="txt" ng-pattern="/^[1-9]\d{3}$/" ng-model="add_service_obj.idCode" required/>
					</td>
					<td class="vatop tips">
						<a href="JavaScript:void(0);" class="btn" ng-click="manual()">
							<span>手动生成</span>
						</a>
						默认为系统自动生成，开通后不能修改
					</td>
				</tr>

				</tbody>
				<tfoot>
				<tr class="tfoot">
					<td colspan="15">
						<a href="JavaScript:void(0);" class="btn" id="submitBtn" ng-click="add_service()">
							<span>点击下一步，开通服务</span>
						</a>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
<div class="page" ng-show="next_open_service">
	<div class="fixed-bar">
		<div class="item-title">
			<h3>商家</h3>
			<ul class="tab-base">
				<li><a href="JavaScript:void(0);" class="current"><span>开通服务</span></a></li>
			</ul>
		</div>
	</div>
	<table border="0" cellpadding="0" cellspacing="0" class="store-joinin">
		<thead>
		<tr>
			<th colspan="20">服务开通</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>
				<select
						ng-model="bs_class_id"
						ng-options="sortName.bs_class_id as sortName.name for sortName in BusinessFirst.elements"
						ng-change="searchSecond(bs_class_id)">
					<option value="">请选择...</option>
				</select>
				<select ng-model="s_bs_class_id"
						ng-show="bs_class_id && BusinessSrcondclass.elements.length > 0"
						ng-options="sortName.bs_class_id as sortName.name for sortName in BusinessSrcondclass.elements"
						ng-change="searchThird(s_bs_class_id)">
					<option value="">请选择...</option>
				</select>
				<select ng-model="t_bs_class_id"
						ng-show="s_bs_class_id && BusinessThreeclass.elements.length > 0"
						ng-options="sortName.bs_class_id as sortName.name for sortName in BusinessThreeclass.elements"
						ng-change="showBusiness(t_bs_class_id)">
					<option value="">请选择...</option>
				</select>
				&nbsp;&nbsp;
				<a href="" ng-click = "all_service()">全部服务</a>
				<span class="error" ng-show="open_service_show">
						<small class="error">
							<label><i class="icon-exclamation-sign"></i>请选择开通的服务</label>
						</small>
					</span>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table style="width: 860px" id="table_category" class="type">
					<thead>
					<tr>
						<th>服务分类</th>
						<th>服务</th>
						<th>开通</th>
					</tr>
					</thead>
					<tbody>
						<tr ng-show="businessList.length > 0" ng-repeat="detail in businessList">
							<td ng-bind="detail.bs_class_name"></td>
							<td ng-bind="detail.name"></td>
							<td>
								<input type="checkbox" ng-click="sChoose(detail.bs_id)" ng-checked="bs_array.indexOf(detail.bs_id) !== -1">
							</td>
						</tr>
						<tr ng-show="businessList.length > 0">
							<td colspan="3">
								<a style="margin-left: 575px;"
								   href="JavaScript:void(0);" class="btn" ng-click="saveService()"><span>确定</span></a>
							</td>
						</tr>
						<tr ng-show="to_loading">
							<td colspan="20" class="norecord">
								<div class="warning-option"><i class="icon-warning-sign"></i><span>{{loading_text}}</span></div>
							</td>
						</tr>
					</tbody>
					<tfoot ng-hide="to_loading">
						<tr colspan="15" class="tfoot">
							<td colspan="19"><mt-pagination pagination-obj="pagination"></mt-pagination></td>
						</tr>
					</tfoot>
				</table>
			</td>
		</tr>
		</tbody>
	</table>
</div>
