<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <h3>失信商家</h3>
            <ul class="tab-base">
                <li mt-show-model model-name="IPRPBadServicerListModel"><a href="JavaScript:void(0);" class="current"><span>失信商家列表</span></a></li>
                <li mt-show-model model-name="IPRPAddBadServicerModel"><a href="#/main/merchant_home/add_badServicer"><span>添加失信商家</span></a></li>
            </ul>
        </div>
    </div>
    <form name="formSearch" id="formSearch">
        <table class="tb-type1 noborder search">
            <tbody class="tr-color">
                <tr>
                    <th><label>商家名称：</label></th>
                    <td><input type="text" value="" class="txt" ng-model="obj.name"></td>
                    <th><label>账号：</label></th>
                    <td><input type="text" value="" class="txt" ng-model="obj.account"></td>
                    <td>
                        <a href="javascript:void(0);" class="btn-search" ng-click="search()">查询</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <table class="table tb-type2" id="prompt">
        <tbody class="tr-color">
            <tr class="space odd" >
                <th colspan="12"><div class="title">
                    <h5>操作提示</h5>
                    <span  ng-show="hint" class="arrow" ng-click="hints()"></span>
                    <span  ng-hide="hint" class="arrow up" ng-click="hints()"></span>
                </div></th>
            </tr>
            <tr class="odd" ng-show="hint">
                <td>
                    <ul>
                        <li>通过失信商家管理，你可以进行添加、管理失信商家操作</li>
                        <li>你可以根据条件搜索，然后选择相应的操作</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <form>
        <table class="table tb-type2">
            <thead>
                <tr class="thead">
                    <th class="align-center" style="width: 40px;">序号</th>
                    <th class="align-center">账号</th>
                    <th class="align-center">商家</th>
                    <th class="align-center">联系电话</th>
                    <th class="align-center">邮箱</th>
                    <th class="align-center">失信服务</th>
                    <th class="align-center">操作</th>
                </tr>
            </thead>
            <tbody class="tr-color">
                <tr class="" ng-show="badServiceList.length > 0" class="hover" ng-repeat="list in badServiceList">
                    <td class="align-center">
                        <span ng-bind="list.number"></span>
                    </td>
                    <td class="align-center" ng-bind="list.account"></td>
                    <td class="align-center" ng-bind="list.name"></td>
                    <td class="align-center" ng-bind="list.phone"></td>
                    <td class="align-center" ng-bind="list.email"></td>
                    <td class="align-center" ng-bind="list.count"></td>
                    <td class="align-center w120">
                        <a href="JavaScript:void(0);" mt-show-model model-name="IPRPUpdateBadServicerModel" style="cursor: pointer" ng-click = "detail_badService(list.spId)">管理</a>
                    </td>
                </tr>
                <tr ng-show="to_loading">
                    <td colspan="20" class="norecord">
                        <div class="warning-option"><i class="icon-warning-sign"></i><span>{{loading_text}}</span></div>
                    </td>
                </tr>
            </tbody>
            <tfoot ng-hide="to_loading">
                <tr colspan="15" class="tfoot">
                    <td colspan="19"><mt-pagination pagination-obj="pagination"></mt-pagination></td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
