<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<h3>业务金额统计</h3>
			<ul class="tab-base">
				<li mt-show-model model-name="IPRPBusinessAmountStatisticModel"><a href="JavaScript:void(0);" class="current"><span>业务金额统计列表</span></a></li>
			</ul>
		</div>
	</div>
	<form name="formSearch" id="formSearch">
		<table class="tb-type1 noborder search">
			<tbody class="tr-color">
				<tr>
					<th><label>服务单号：</label></th>
					<td><input type="text" class="txt" ng-model="obj.orderSn"></td>
					
					<th><label>服务商：</label></th>
					<td><input type="text" class="txt" ng-model="obj.spName"></td>
					<th><label>售后状态：</label></th>
					<td>
						<select ng-model="obj.refundAuditState" style="width: 120px;">
							<option value="">请选择</option>
							<option value="0">待审核</option>
							<option value="1">商家同意</option>
							<option value="2">商家驳回</option>
							<option value="3">退款完成</option>
							<option value="4">先行赔付</option>
						</select>
					</td>
					<th><label>来源渠道：</label></th>
					<td>
						<select ng-model="obj.srcChannel" style="width: 120px;">
								<option value="">请选择</option>
							<option value="1">拾贝网</option>
							<option value="2">拾贝宝</option>
						</select>
					</td>
					<th><label>支付时间：</label></th>
					<td>
						<div class="time_wrap">
						<input type="text" class="txt date hasDatepicker" datepicker-popup placeholder="" name="businesspay_start_time" id="businesspay_start_time" ng-model="paymentStartTime"
								max-date="paymentEndTime" style="cursor:pointer" readonly/>
						<label for="businesspay_end_time">~</label>
						<input type="text" class="txt date hasDatepicker" datepicker-popup placeholder="" name="businesspay_end_time" id="businesspay_end_time"  ng-model="paymentEndTime"
								min-date="paymentStartTime" style="cursor:pointer" readonly/>
					  </div>
					</td>
					
				</tr>
				<tr>
					<th><label>商品筛选：</label></th>
					<td colspan="5">
						<select ng-model="typeobj.fir_id" ng-change="bs_type_change(1, typeobj.fir_id)" ng-options="type.id as type.name for type in firTypeData">
							<option value="">请选择</option>
						</select>
						<select ng-model="typeobj.sec_id" ng-change="bs_type_change(2, typeobj.sec_id)" ng-options="type.id as type.name for type in secTypeData">
							<option value="">请选择</option>
						</select>
						<select ng-model="typeobj.thi_id" ng-change="bs_type_change(3, typeobj.thi_id)" ng-options="type.id as type.name for type in thiTypeData">
							<option value="">请选择</option>
						</select>
						<select ng-model="typeobj.fou_id" ng-change="bs_type_change(4)" ng-options="type.bs_feedback_id as type.name for type in fouTypeData">
							<option value="">请选择服务状态</option>
						</select>
					</td>
					<td style="text-align:left;" colspan="2">
						<a href="javascript:void(0);" class="btn-search" ng-click="search_order()">查询</a>
						<a href="javascript:void(0);" class="btn-reset" ng-click="search_reset()" title="重置">重置</a>
						<a href="javascript:void(0);" class="btn-reset" ng-click="search_export()" title="导出">导出</a>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<!-- <table class="table tb-type2" id="prompt">
		<tbody class="tr-color">
			<tr class="space odd" >
				<th colspan="12"><div class="title">
					<h5>操作提示</h5>
					<span  ng-show="hint" class="arrow" ng-click="hints()"></span>
					<span  ng-hide="hint" class="arrow up" ng-click="hints()"></span>
				</div></th>
			</tr>
			<tr class="odd" ng-show="hint">
				<td>
					<ul>
						<li></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table> -->
	<form>
		<table class="table tb-type2">
			<thead>
				<tr class="thead">
					<th class="align-center">序号</th>
					<th class="align-center">服务单号</th>
					<th class="align-center">服务类目</th>
					<!-- <th class="align-center">商品编号</th> -->
					<th class="align-center">服务名称</th>
					<th class="align-center">来源渠道</th>
					<th class="align-center">服务商</th>
					<th class="align-center">金额</th>
					<th class="align-center">支付时间</th>
					<th class="align-center">服务状态</th>
					<th class="align-center">售后状态</th>
				</tr>
			</thead>
			<tbody class="tr-color">
				<tr class="" ng-show="OrderList.length > 0" class="hover" ng-repeat="list in OrderList">
					<td class="align-center"><span ng-bind="list.seqNo"></span></td>
					<td class="align-center" ng-bind="list.orderSn"></td>
					<!-- <td class="align-center" ng-bind="list.bs_class_name"></td> -->
					<!-- <td class="align-center" ng-bind="list.product_num"></td> -->
					<td class="align-center" ng-bind="list.bsClassName"></td>
					<td class="align-center" ng-bind="list.bsName"></td>
					<td class="align-center" ng-bind="list.srcChannel | srcChannelFormat"></td>
					<td class="align-center" ng-bind="list.spName"></td>
					<td class="align-center" ng-bind="list.orderAmount | number:2"></td>
					<td class="align-center" ng-bind="list.orderPaymentTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
					<td class="align-center" ng-bind="list.orderFeedbackState"></td>
					<td class="align-center" ng-bind="list.refundAuditState | refundAuditStateFormat"></td>
				</tr>
				<tr ng-show="to_loading">
					<td colspan="10" class="norecord">
						<div class="warning-option"><i class="icon-warning-sign"></i><span>{{loading_text}}</span></div>
					</td>
				</tr>
			</tbody>
			<tfoot ng-hide="to_loading">
				<tr class="tfoot">
					<td colspan="10"><mt-pagination pagination-obj="pagination"></mt-pagination></td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
