<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <h3>支付方式</h3>
            <ul class="tab-base">
                <li mt-show-model model-name="IPRPPaymentListModel"><a class="current"><span>支付方式</span></a></li>
            </ul>
        </div>
    </div>
    <form role="form" class="form-horizontal" novalidate>
        <table class="table tb-type2 nobdb">
            <tbody>
                <tr>
                    <td class="required">微信</td>
                    <td class="vatop tips">
                        <a href="https://pay.weixin.qq.com" target="_blank">get seller key</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="required">微信平台标识:
                        <span class="error" ng-show="formWeChat.appid.$invalid && formWeChat.submitted">
                            <small ng-show="formWeChat.appid.$error.required" class="error">
                                <span class="red">微信平台标识不可以为空</span>
                            </small>
                         </span>
                    </td>
                </tr>
                <tr class="noborder">
                    <td class="vatop rowform">
                        <input name="appid" id="appid" value="" class="txt" type="text" ng-model="Payment.appid" required>
                    </td>
                    <td class="vatop tips"></td>
                </tr>
                <tr>
                    <td colspan="2" class="required">商户平台标识:
                        <span class="error" ng-show="formWeChat.mch_id.$invalid && formWeChat.submitted">
                            <small ng-show="formWeChat.mch_id.$error.required" class="error">
                                <span class="red">商户平台标识不可以为空</span>
                            </small>
                         </span>
                    </td>
                </tr>
                <tr class="noborder">
                    <td class="vatop rowform">
                        <input name="mch_id" id="mch_id" value="" class="txt" type="text" ng-model="Payment.mch_id" required>
                    </td>
                    <td class="vatop tips"></td>
                </tr>
                <tr>
                    <td colspan="2" class="required">商户密钥(seller_key):
                        <span class="error" ng-show="formWeChat.seller_key.$invalid && formWeChat.submitted">
                            <small ng-show="formWeChat.seller_key.$error.required" class="error">
                                <span class="red">商户密钥不可以为空</span>
                            </small>
                         </span>
                    </td>
                </tr>
                <tr class="noborder">
                    <td class="vatop rowform">
                        <textarea style="width:400px;" ng-model="Payment.seller_key"
                                  id="user_name" name="seller_key" rows="6"
                                  class="tarea ng-pristine ng-invalid ng-invalid-required ng-valid-pattern"
                                  required></textarea></td>
                    <td class="vatop tips"></td>
                </tr>
                <tr>
                    <td colspan="2" class="required">启用: </td>
                </tr>
                <tr>
                    <td class="vatop rowform onoff">
                        <label for="attr_show1"   class="cb-enable" style="text-align:center;border:solid 1px #d3d3d3;border-right:none;border-top-left-radius:4px;
                            border-top-right-radius:0;
                            border-bottom-right-radius:0;
                            border-bottom-left-radius:4px;">
                            <span ng-click="turnOn()" ng-class="{'selected':payDetail.payment_state === '1'}">是</span>
                        </label>
                        <label for="attr_show0" class="cb-enable" style="text-align:center;border:solid 1px #d3d3d3;border-left:none;border-top-left-radius:0;
                            border-top-right-radius:4px;
                            border-bottom-right-radius:4px;
                            border-bottom-left-radius:0;">
                            <span ng-click="turnOff()" ng-class="{'selected':payDetail.payment_state === '0'}">否</span>
                        </label>
                        <input style="display:none;" id="attr_show1" name="attr_show" checked="checked" value="1" type="radio">
                        <input style="display:none;" id="attr_show0" name="attr_show" value="0" type="radio">
                    </td>
                    <td class="vatop tips"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="tfoot">
                    <td colspan="2">
                        <a class="btn" id="submitBtn"><span ng-click="edit()">提交</span></a>
                        <!--<label class="submit-border">
                            <input type="submit" class="submit" value="返回" ng-click="return()">
                        </label>-->
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>



