<div class="page">
	<div class="fixed-bar">
			<div class="item-title">
					<h3>省科数据导入</h3>
					<ul class="tab-base">
							<li><a href="JavaScript:void(0);" class="current"><span>省科数据导入</span></a></li>
							<!-- <li mt-show-model model-name="IPRPBillTplListModel"><a href="#/main/service_home/label_tpl_add"><span>添加</span></a></li> -->
					</ul>
			</div>
	</div>
	<form name="formSearch" id="formSearch">
		<table class="tb-type1 noborder search">
				<tbody class="tr-color">
						<tr>
								<th><label>街道:</label></th>
								<td>
									<select ng-model="obj.street" style="width: 120px;" ng-options="type.value as type.name for type in streetList">
										<option value="">全部</option>
									</select>
								</td>
								<th><label>企业名称:</label></th>
								<td><input type="text" value="" class="ng-pristine ng-untouched ng-valid ng-empty" ng-model="obj.companyName"></td>
								<th><label>联系人:</label></th>
								<td><input type="text" value="" class="ng-pristine ng-untouched ng-valid ng-empty" ng-model="obj.contact"></td>
								<th><label>联系电话:</label></th>
								<td><input type="text" value="" class="ng-pristine ng-untouched ng-valid ng-empty" ng-model="obj.contactNumber"></td>
								<td>
									<a href="javascript:void(0);" class="btn-search" ng-click="search()">查询</a>
									<a href="javascript:void(0);" class="btn-search" ng-click="reset()">重置</a>
								</td>
						</tr>
				</tbody>
		</table>
		<div class="rt_action">
			<a href="JavaScript:void(0);" type="file" ngf-select="uploadFile($file)" ngf-pattern="'.xlsx,.xls'" ngf-multiple="false">导入excel</a>
		</div>
</form>

	<form>
			<table class="table tb-type2">
					<thead>
							<tr class="thead">
									<th class="align-center" style="width: 40px;">序号</th>
									<th class="align-center">街道</th>
									<th class="align-center">企业名称</th>
									<th class="align-center">联系人</th>
									<th class="align-center">联系电话</th>
									<th class="align-center">认定时间</th>
									<th class="align-center">认定类型</th>
									<th class="align-center">导入时间</th>
							</tr>
					</thead>
					<tbody class="tr-color">
						<tr class="" ng-show="labelList.length > 0" class="hover" ng-repeat="list in labelList">
									<td class="align-center">
											<span ng-bind="list.seqNo"></span>
									</td>
									<td class="align-center" ng-bind="list.street|streetFilter"></td>
									<td class="align-center" ng-bind="list.companyName"></td>
									<td class="align-center">{{list.contact}}</td>
									<td class="align-center">{{list.contactNumber}}</td>
									<td class="align-center">{{list.identificationTime}}</td>
									<td class="align-center">{{list.identificationType}}</td>
									<td class="align-center">{{list.importTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							</tr>
							<tr ng-show="to_loading">
									<td colspan="20" class="norecord">
											<div class="warning-option"><i class="icon-warning-sign"></i><span>{{loading_text}}</span></div>
									</td>
							</tr>
					</tbody>
					<tfoot ng-hide="to_loading">
							<tr colspan="15" class="tfoot">
									<td colspan="19"><mt-pagination pagination-obj="pagination" form-page-one="true"></mt-pagination></td>
							</tr>
					</tfoot>
			</table>
	</form>
</div>
<style>
#formSearch{position: relative;}
.rt_action{position: absolute;right: 0;bottom: 3px;}
.rt_action a{display: inline-block;margin-left: 10px;padding: 0 10px;height: 23px;text-align: center;line-height: 23px;background-color: #68a4fe;color: #fff;font-size: 13px;border-radius: 3px;cursor: pointer;}
</style>
