<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <h3>账户明细</h3>
            <ul class="tab-base">
                <li mt-show-model model-name="IPRPCapitAlacountListModel"><a href="#/main/bill_home/capital_account"><span>资金账户列表</span></a></li>
                <li mt-show-model model-name="IPRPAccountDetailListModel"><a href="JavaScript:void(0);" class="current"><span>账户明细列表</span></a></li>
            </ul>
        </div>
    </div>
    <form name="formSearch" id="formSearch">
        <table class="table tb-type2 noborder search">
            <tbody>
                <tr><td>服务商：{{service_detail.name}}</td></tr>
                <tr><td>联系人：{{service_detail.sp_contacts}}</td></tr>
                <tr><td>联系电话：{{service_detail.phone}}</td></tr>
            </tbody>
        </table>
        <table class="tb-type1 noborder search">
            <tbody class="tr-color">
                <tr>
                    <th><label>时间：</label></th>
                    <td>
                        <input type="text" class="txt date hasDatepicker" placeholder="" name="query_start_date" id="query_start_date" datepicker-popup ng-model="query_start_date"
                               is-open="startOpened" ng-click="startOpened = true" max-date="query_end_date" style="cursor:pointer" readonly/>
                        <label for="query_end_date">~</label>
                        <input type="text" class="txt date hasDatepicker" placeholder="" name="query_end_date" id="query_end_date" datepicker-popup ng-model="query_end_date"
                               is-open="endOpened" ng-click="endOpened = true" min-date="query_start_date" style="cursor:pointer" readonly/>
                    </td>
                    <th><label>来源：</label></th>
                    <td>
                        <select ng-model = "search_obj.account_type">
                            <option value="">请选择来源...</option>
                            <option value="1">结算</option>
                            <option value="2">支付</option>
                            <option value="3">扣费</option>
                            <option value="4">退费</option>
                        </select>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="btn-search" ng-click="search()" title="查询">&nbsp;</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <table class="table tb-type2" id="prompt">
        <tbody class="tr-color">
            <tr class="space odd" >
                <th colspan="12">
                    <div class="title">
                        <h5>操作提示</h5>
                        <span  ng-show="hint" class="arrow" ng-click="hints()"></span>
                        <span  ng-hide="hint" class="arrow up" ng-click="hints()"></span>
                    </div>
                </th>
            </tr>
            <tr class="odd" ng-show="hint">
                <td>
                    <ul>
                        <li>通过服务管理，你可以进行添加或编辑服务操作</li>
                        <li>你可以根据条件搜索，然后选择相应的操作</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <form>
        <table class="table tb-type2">
            <thead>
                <tr class="thead">
                    <th class="align-center" style="width: 40px;">序号</th>
                    <th class="align-center">单号</th>
                    <th class="align-center">服务</th>
                    <th class="align-center">来源</th>
                    <th class="align-center">收入</th>
                    <th class="align-center">支出</th>
                    <th class="align-center">账户余额</th>
                    <th style="width: 120px;" class="align-center">创建时间</th>
                    <th class="align-center">事由</th>
                </tr>
            </thead>
            <tbody class="tr-color">
                <tr ng-show="account_detail_list.length > 0" class="hover" ng-repeat="list in account_detail_list">
                    <td class="align-center" ng-bind="list.number"></td>
                    <td class="align-center" ng-bind="list.sn"></td>
                    <td class="align-center" ng-bind="list.bs_name"></td>
                    <td class="align-center" ng-bind="list.account_type | AccountTypeFilter"></td>
                    <td class="align-center" ng-if="list.income != null" ng-bind="list.income | number:2"></td>
                    <td class="align-center" ng-if="list.income === null">0.00</td>
                    <td class="align-center" ng-if="list.outlay != null" ng-bind="list.outlay | number:2"></td>
                    <td class="align-center" ng-if="list.outlay === null">0.00</td>
                    <td class="align-center" ng-if="list.balance != null" ng-bind="list.balance | number:2"></td>
                    <td class="align-center" ng-if="list.balance === null">0.00</td>
                    <td class="align-center" ng-bind="list.create_time | date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <td class="align-center" ng-bind="list.description"></td>
                </tr>
                <tr ng-show="to_loading">
                    <td colspan="20" class="norecord">
                        <div class="warning-option"><i class="icon-warning-sign"></i><span>{{loading_text}}</span></div>
                    </td>
                </tr>
            </tbody>
            <tfoot ng-hide="to_loading">
                <tr colspan="15" class="tfoot">
                    <td colspan="19"><mt-pagination pagination-obj="pagination"></mt-pagination></td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>