<div>
  <h3 class="dialog_head" style="cursor: move;">
        <span class="dialog_title">
            <span class="dialog_title_icon">提示</span>
        </span>
    <span class="dialog_close_button" ng-click="cancel()">X</span>
  </h3>
  <div class="prompt-txt">
    <img width="30px" height="30px" src="../styles/images/mac/Group.png" alt="">
    <p>报告状态设置为报告成功后，将不可再修改报告，请确认。</p>
  </div>
  <div class="prompt-btn">
    <a class="btn" id="submitBtn"><span ng-click="save()">确认</span></a>
  </div>
</div>
