<table class="menutd" valign="top" style="padding: 0px;width: 100%; height: 100%;margin-top:10px" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top" style="width: 161px;height: 690px;">
			<ul style="display: block; width: 162px" class="main-menu">
				<!-- <li mt-show-model model-name="IPRPFastNotarizationModel"><a id="bargain_list" ng-click="select($event,'czout_list')" href="#/main/fast_home/bargain">我要砍价</a></li> -->
				<li mt-show-model model-name="IPTRADEPlatformFastSaleModel"><a id="sell_list" ng-click="select($event,'czout_list')" href="#/main/fast_home/tm_fast_sell">交易金融-商标速卖</a></li>
				<li mt-show-model model-name="IPTRADEPlatformFastBuyGoodModel"><a id="buy_tm_list" ng-click="select($event,'czout_list')" href="#/main/fast_home/buy_good_tm">交易金融-好标求购</a></li>
				<li mt-show-model model-name="IPRPFastNotarizationModel"><a id="admin_list" ng-click="select($event,'czout_list')" href="#/main/fast_home/czout_list">存证出证</a></li>
				<li mt-show-model model-name="IPRPFastStewardModel"><a id="keerper_admin_list" ng-click="select($event,'keeper_list')" href="#/main/fast_home/keeper_list">管家报告</a></li>
				<li mt-show-model model-name="IPRPFastConsultationModel"><a id="tel_service_list" ng-click="select($event,'tel_service')" href="#/main/fast_home/tel_service">电话咨询服务</a></li>
				<li mt-show-model model-name="IPRPFastSpAdviseModel"><a id="feedback_service" ng-click="select($event,'feedback_service')" href="#/main/fast_home/feedback_service">服务商意见反馈</a></li>
				<li mt-show-model model-name="IPRPFastSpApplyModel"><a id="feedback_apply" ng-click="select($event,'feedback_apply')" href="#/main/fast_home/feedback_apply">服务商入驻申请</a></li>
				<li mt-show-model model-name="IPRPFastHightechModel"><a id="highTechEnterprises" ng-click="select($event,'highTechEnterprises')" href="#/main/fast_home/highTechEnterprises">高新企业申报</a></li>
				<li mt-show-model model-name="IPRPFastMailConfirmationModel"><a id="postal" ng-click="select($event,'postal')" href="#/main/fast_home/postal">邮寄收件人信息</a></li>
				<li mt-show-model model-name="IPRPOpinionFeedbackModel"><a id="feedback" ng-click="select($event,'feedback')" href="#/main/fast_home/feedback">商标管家意见反馈</a></li>
				<li mt-show-model model-name="IPRPFastPartnerModel"><a id="partner_app" ng-click="select($event,'partner_app')" href="#/main/fast_home/partner_app">新合伙人申请</a></li>
				<li mt-show-model model-name="IPRPFastPartnerModel"><a id="outpatient_demand" ng-click="select($event,'outpatient_demand')" href="#/main/fast_home/outpatient_demand">门诊室需求管理</a></li>
        <li mt-show-model model-name="IPRPPartnerEnterFeedbackModel"><a id="partner_application" ng-click="select($event)" href="#/main/fast_home/partner_application">合伙人入驻申请</a></li>
        <li mt-show-model model-name="IPRPJgtechH5Model"><a id="enterprisesList" ng-click="select($event,'enterprisesList')" href="#/main/fast_home/enterprisesList">三年双倍增计划</a></li>
        <li mt-show-model model-name="IPRPTechIpModel"><a id="ipSurvey" ng-click="select($event)" href="#/main/fast_home/ipSurvey">IP尽职调查</a></li>
        <li mt-show-model model-name="IPRPTechHelpModel"><a id="techAdvisory" ng-click="select($event)" href="#/main/fast_home/techAdvisory">求助站</a></li>
        <li mt-show-model model-name="IPRPJgtechH5Model"><a id="ggImport" ng-click="select($event)" href="#/main/fast_home/ggImport">国高数据导入</a></li>
        <li mt-show-model model-name="IPRPJgtechH5Model"><a id="skImport" ng-click="select($event)" href="#/main/fast_home/skImport">省科数据导入</a></li>
		<li mt-show-model model-name="IPRPIpProtectModel"><a id="ip_protect_list" ng-click="select($event,'ip_protect_list')" href="#/main/fast_home/ip_protect">维权咨询</a></li>
		<li mt-show-model model-name="IPRPClueReportModel"><a id="clues_report_list" ng-click="select($event,'clues_report_list')" href="#/main/fast_home/clues_report">线索举报</a></li>
		<li mt-show-model model-name="IPRPEpidemicPreventReportModel"><a id="epidemic_report_list" ng-click="select($event,'epidemic_report_list')" href="#/main/fast_home/epidemic_report">防疫物资举报</a></li>
		<li mt-show-model model-name="IPRPEpidemicPreventReportModel"><a id="foreign_trade_list" ng-click="select($event,'foreign_trade_list')" href="#/main/fast_home/foreign_trade_list">浙江外贸服务平台</a></li>
		<li mt-show-model model-name="IPRPEpidemicPreventReportModel"><a id="oem_list" ng-click="select($event,'oem_list')" href="#/main/fast_home/oem_list">OEM鉴别</a></li>
		
		<!-- IPRPIClueReportModel  -->
				<!--隐藏(home页权限需要加载)-->
				<li ng-show="true" mt-show-model model-name="IPRPInvoiceManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPRedInvoiceManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPMemberListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBlocMemberListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBusinessListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPServicerListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPChannelListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPOrderListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPInvoiceListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPRedInvoiceListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPAdminListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPGadminListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPDateListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBusinessListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPServicerListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPAccountDetailListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPUnopenInvoiceListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPOpenInvoiceListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPRedInvoiceCheckListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPRedUnOpenInvoiceListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPRedOpenInvoiceListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPNewsManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPOrderSettingModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPSettingManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPPaymentManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPExpressManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPEmailManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPLogsManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPEmailTplListModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPEmailSetModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPMemberManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBlocMemberManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPAssignServicerManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBusinessClassManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPServiceManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPServicerManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBadServiceManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPCapitAlacountManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPSpBillManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBillTplManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPOrderManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPRefundManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBusinessManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBusinessClassManageModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPUpdateExpressModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBillFinancialAuditModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPBillSalesmanAuditModel"></li>

				<li ng-show="true" mt-show-model model-name="IPRPClueReportModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPEpidemicPreventReportModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPZjForeignTradeServPlatModel"></li>
				<li ng-show="true" mt-show-model model-name="IPRPOemIdentifyModel"></li>
				
			</ul>
		</td>
		<td ui-view class="ng-scope" valign="top" style="min-width: 1180px; min-height: 1000px;"></td>
	</tr>
</table>
<div class="sebe">
	<p class="sebename">拾贝管理后台</p>
	<p class="sebeurl">www.ipsebe.com</p>
</div>
